{% extends 'base.html' %} 

{% block head %} 
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
  <title>Calendario</title>
{% endblock %}

{% block content %}

<div class="all-cont">
  <div class="calendar" id="calendar"></div>

  {% include './modal.html' %}
</div>

<!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="{% static 'js/calendar/calendar.js' %}"></script>

{% endblock %}
