<div class="modal__container">
  <div class="modal__content">
    <header class="modal__header">
      <h2 class="modal-title"></h2>
      <button class="btn close" id="close-modal">&times;</button>
    </header>

    <nav class="modal__nav">
      <button class="btn gray" id="reporte">
        <a>
          <i class="icon-file-pdf"></i>
          Reporte
        </a>
      </button>
      <a class="btn green" id="cerrar">
        <i class="icon-checkmark"></i>
        Cerrar
      </a>
      <a class="btn blue" id="taller">
        <i class="icon-tools1"></i>
        Taller
      </a>
    </nav>
  </div>
</div>
