<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Title</title>
</head>
<body>
    Utilidades padrino
    <br>
    <br>
    <a href="{% url 'utilidades:corregirInspeccionesVehiculo' %}">corregirInspeccionesVehiculo</a>
    <br>
    <br>
    <a href="{% url 'utilidades:guardar_estado_actual_llantas' %}">guardar_estado_actual_llantas</a>
    <br>
    <br>
    <a href="{% url 'utilidades:BorrarRendimientos' %}">BorrarRendimientos</a>
    <br>
    <br>
    <a href="{% url 'utilidades:subirBigData' %}">subirBigData</a>
</body>
</html>