{% comment %} 
<!-- configK -->
<!-- S2 D2 C2 --> 
{% endcomment %}
<div class="column configK" id="col1">

    <!-- S2 -->
    <div class="par-llantas">
        <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta1.id %}">
            <span class="icon-tire2 {{color}}"></span>
        </a>

        <span class="icon-da"></span>

        <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta2.id %}">
            <span class="icon-tire2 {{color}}"></span>
        </a>

    </div>

    <!-- D2 -->
    <div class="par-llantas">
        <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta3.id %}">
            <span class="icon-tire2 {{color}}"></span>
        </a>

        <span class="icon-da"></span>

        <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta4.id %}">
            <span class="icon-tire2 {{color}}"></span>
        </a>

    </div>

    <!-- C2 -->
    <div class="par-llantas">
        <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta5.id %}">
            <span class="icon-tire2 {{color}}"></span>
        </a>

        <span class="icon-da"></span>

        <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta6.id %}">
            <span class="icon-tire2 {{color}}"></span>
        </a>

    </div>

</div>