{% comment %} 
<!-- configO -->
<!-- T2 --> 
{% endcomment %}
<div class="column configO" id="col1">

    <!-- T2 -->
    <div class="par-llantas">
        <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta1.id %}">
            <span class="icon-tire2 {{color}}"></span>
        </a>

        <span class="icon-da"></span>

        <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta2.id %}">
            <span class="icon-tire2 {{color}}"></span>
        </a>

    </div>

</div>