{% comment %} 
<!-- configR -->
<!-- T4-T4 --> 
{% endcomment %}

<div class="column configR" id="col1">

    <!-- T4 -->
    <div class="par-doble-llanta">

        <div class="doble-llanta">
            
            <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta1.id %}">
                <div class="tire__top {{ color }}">
                    <span class="tire__title">Presión</span>
                    <span class="tire__data">100</span>
                </div>
                
                <span class="icon-tire2"></span>
                
                <div class="tire__bottom {{ color }}">
                    <span class="tire__title">Profundidad</span>
                    <span class="tire__data">
                        NA
                    </span>
                </div>
            </a>

            <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta2.id %}">
                <div class="tire__top {{ color }}">
                    <span class="tire__title">Presión</span>
                    <span class="tire__data">100</span>
                </div>
                
                <span class="icon-tire2"></span>
                
                <div class="tire__bottom {{ color }}">
                    <span class="tire__title">Profundidad</span>
                    <span class="tire__data">
                        NA
                    </span>
                </div>
            </a>
        </div>

        <span class="icon-central-axle"></span>

        <div class="doble-llanta">
            
            <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta3.id %}">
                <div class="tire__top {{ color }}">
                    <span class="tire__title">Presión</span>
                    <span class="tire__data">100</span>
                </div>
                
                <span class="icon-tire2"></span>
                
                <div class="tire__bottom {{ color }}">
                    <span class="tire__title">Profundidad</span>
                    <span class="tire__data">
                        NA
                    </span>
                </div>
            </a>

            <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta4.id %}">
                <div class="tire__top {{ color }}">
                    <span class="tire__title">Presión</span>
                    <span class="tire__data">100</span>
                </div>
                
                <span class="icon-tire2"></span>
                
                <div class="tire__bottom {{ color }}">
                    <span class="tire__title">Profundidad</span>
                    <span class="tire__data">
                        NA
                    </span>
                </div>
            </a>
        </div>

    </div>

    <!-- T4 -->
    <div class="par-doble-llanta">

        <div class="doble-llanta">
            
            <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta5.id %}">
                <div class="tire__top {{ color }}">
                    <span class="tire__title">Presión</span>
                    <span class="tire__data">100</span>
                </div>
                
                <span class="icon-tire2"></span>
                
                <div class="tire__bottom {{ color }}">
                    <span class="tire__title">Profundidad</span>
                    <span class="tire__data">
                        NA
                    </span>
                </div>
            </a>

            <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta6.id %}">
                <div class="tire__top {{ color }}">
                    <span class="tire__title">Presión</span>
                    <span class="tire__data">100</span>
                </div>
                
                <span class="icon-tire2"></span>
                
                <div class="tire__bottom {{ color }}">
                    <span class="tire__title">Profundidad</span>
                    <span class="tire__data">
                        NA
                    </span>
                </div>
            </a>
        </div>

        <span class="icon-central-axle"></span>

        <div class="doble-llanta">
            
            <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta7.id %}">
                <div class="tire__top {{ color }}">
                    <span class="tire__title">Presión</span>
                    <span class="tire__data">100</span>
                </div>
                
                <span class="icon-tire2"></span>
                
                <div class="tire__bottom {{ color }}">
                    <span class="tire__title">Profundidad</span>
                    <span class="tire__data">
                        NA
                    </span>
                </div>
            </a>

            <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta8.id %}">
                <div class="tire__top {{ color }}">
                    <span class="tire__title">Presión</span>
                    <span class="tire__data">100</span>
                </div>
                
                <span class="icon-tire2"></span>
                
                <div class="tire__bottom {{ color }}">
                    <span class="tire__title">Profundidad</span>
                    <span class="tire__data">
                        NA
                    </span>
                </div>
            </a>
        </div>

    </div>

</div>