{% extends '../base.html' %} {% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'css/formularios.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<title>Formulario de compañia</title>
{% endblock %} {% block content %}

<main class="main-cont">
  <header class="head-cont">
    <a href="{% url 'dashboards:config' %}">
      <button class="btn btn-download not-allowed" id="prev">
      <span class="icon-arrow-left2"></span>
      </button>
    </a>
    <div class="logo">
      <img src="{% static 'images/aeto.svg' %}" alt="logo" />
    </div>

    <h1>Formulario de compañía</h1>
  </header>

  <section class="form-body">
  {% if compania.id %}
    <form action="{% url 'dashboards:companyFormularioEdit' compania.id %}" class="form-body_form" method="POST">
  {% else %}
    <form action="{% url 'dashboards:companyFormulario' %}" class="form-body_form" method="POST">
  {% endif %}
      {% csrf_token %} 
      
      <div class="relative">
        <div class="absolute">
          {% include './forms/form-company.html' %}
          {% if compania.id %}
          
          <nav class="flex-row">
            <button class="btn btn-success">
              <span class="icon-checkmark"></span>
            </button>
        
            <a href="{% url 'dashboards:companyFormulario' %}" class="btn btn-danger">
              <span class="icon-cross"></span>
            </a>
          </nav>
      
          {% else %}
          <button class="btn btn-success">
            <span class="icon-plus6"></span>
          </button>
          {% endif %}
        </div>
      </div>

    </form>
    <div class="table-container">
      <div class="relative">
        <div class="absolute">
          <table class="main-table">
            <thead>
              <tr>
                <th>Acciones</th>
                <th>Companía</th>
                <th>Periodo de inflado 1</th>
                <th>Periodo de inflado 2</th>
                <th>Presión fuera rango</th>
                <th>Periodo sin vista 1</th>
                <th>Periodo sin vista 2</th>
                <th>Punto de retiro dirección</th>
                <th>Punto de retiro tracción</th>
                <th>Punto de retiro arrastre</th>
                <th>Punto de retiro loco</th>
                <th>Punto de retiro retráctil</th>
                <th>Profundidad de descuate</th>
                <th>Profundidad de desgaste irregular</th>
                <th>Valor de casco nuevo</th>
                <th>Valor de casco 1R</th>
                <th>Valor de casco 2R</th>
                <th>Valor de casco 3R</th>
                <th>Valor de casco 4R</th>
                <th>Valor de casco 5R</th>
                <th>Unidades de presión</th>
                <th>Unidades de distancia</th>
                <th>Unidades de profundidad</th>
                <th>Parámetros de desgaste sospechoso</th>
              </tr>
            </thead>
            <tbody>
              {% for compania in companias %}
              <tr>
                <td>
                  <div
                    class="flex-row"
                    style="flex-wrap: nowrap; justify-content: center"
                  >
                    <a href="{% url 'dashboards:companyFormularioEdit' compania.id %}" class="btn btn-download">
                      <i class="icon-pencil"></i>
                    </a>
                    <form action="{% url "dashboards:companyFormularioDelete" %}" class="delete-form" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{compania.id}}">
                      <button class="btn btn-danger">
                        <span class="icon-trash"></span>
                      </button>
                    </form>
                  </div>
                </td>
                <td>{{compania}}</td>
                <td class="formato_numero" >{{compania.periodo1_inflado}}</td>
                <td class="formato_numero" >{{compania.periodo2_inflado}}</td>
                <td class="formato_numero" >{{compania.objetivo}}</td>
                <td class="formato_numero" >{{compania.periodo1_inspeccion}}</td>
                <td class="formato_numero" >{{compania.periodo2_inspeccion}}</td>
                <td class="formato_numero" >{{compania.punto_retiro_eje_direccion}}</td>
                <td class="formato_numero" >{{compania.punto_retiro_eje_traccion}}</td>
                <td class="formato_numero" >{{compania.punto_retiro_eje_arrastre}}</td>
                <td class="formato_numero" >{{compania.punto_retiro_eje_loco}}</td>
                <td class="formato_numero" >{{compania.punto_retiro_eje_retractil}}</td>
                <td class="formato_numero" >{{compania.mm_de_diferencia_entre_duales}}</td>
                <td class="formato_numero" >{{compania.mm_de_desgaste_irregular}}</td>
                <td class="formato_numero" >{% if compania.valor_casco_nuevo %}{{compania.valor_casco_nuevo}}{% endif %}</td>
                <td class="formato_numero" >{% if compania.valor_casco_1r %}{{compania.valor_casco_1r}}0{% endif %}</td>
                <td class="formato_numero" >{% if compania.valor_casco_2r %}{{compania.valor_casco_2r}}0{% endif %}</td>
                <td class="formato_numero" >{% if compania.valor_casco_3r %}{{compania.valor_casco_3r}}0{% endif %}</td>
                <td class="formato_numero" >{% if compania.valor_casco_4r %}{{compania.valor_casco_4r}}0{% endif %}</td>
                <td class="formato_numero" >{% if compania.valor_casco_5r %}{{compania.valor_casco_5r}}0{% endif %}</td>
                <td>{{compania.unidades_presion}}</td>
                <td>{{compania.unidades_distancia}}</td>
                <td>{{compania.unidades_profundidad}}</td>
                <td class="formato_numero" >{{compania.mm_parametro_sospechoso}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="{% static 'js/inputChange.js' %}"></script>
<script>

  // Formato numero
  const separator = (numb) => {
      let str = numb.toString().split(".");
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return str.join(".");
  }

  const decimalConverter = () => {
      const numbers = document.querySelectorAll('.formato_numero');

      numbers.forEach( (number) => {
          number.textContent = separator(number.textContent);
      } );
  }
  decimalConverter();

  document.addEventListener('submit', (e) => {
    if (e.target.matches('.delete-form')) {
      e.preventDefault();
      Swal.fire({
        title: '¿Esta seguro?',
        text: 'Esta acción eliminará al usuario de manera permanente',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si',
        cancelButtonText: 'No',
      }).then((result) => {
        if (result.isConfirmed) {
          e.target.submit();
        } else {
          result.dismiss === Swal.DismissReason.cancel;
        }
      })
    }
  });
</script>

{% endblock %}
