{% extends '../base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <title>Sucursales</title>
{% endblock %}

{% block content %}

<main class="main-cont">

  <header class="head-cont">
    <a href="{% url 'dashboards:config' %}">
      <button class="btn btn-download not-allowed" id="prev">
      <span class="icon-arrow-left2"></span>
      </button>
    </a>
    <div class="logo">
      <img src="{% static 'images/aeto.png' %}" alt="logo">
    </div>

    <h1>Formulario de sucursal</h1>
  </header>

  <section class="form-body">

    {% if sucursal.id %}
      <form action="{% url 'dashboards:sucursalFormularioEdit' sucursal.id %}" class="form-body_form" method="POST">
    {% else %}
      <form action="{% url 'dashboards:sucursalFormulario' %}" class="form-body_form" method="POST">
    {% endif %}
      {% csrf_token %} 
      {% include './forms/form-sucursal.html' %}
    </form>

    <div class="table-container">
      <div class="relative">
        <div class="absolute">
          <table class="main-table">
            <thead>
              <tr>
                <th>Acciones</th>
                <th>Nombre</th>
                <th>Compañía</th>
                <th>Nueva a 1R</th>
                <th>1R a 2R</th>
                <th>2R a 3R</th>
                <th>3R a 4R</th>
                <th>4R a 5R</th>
                <th>$ llanta de dirección</th>
                <th>$ llanta de nueva</th>
                <th>$ llanta de renovada</th>
              </tr>
            </thead>
            <tbody>
              {% for sucursal in sucursales %}
              <tr>
                <td>
                  <div class="flex-row" style="flex-wrap: nowrap;">
                    <a href="{% url 'dashboards:sucursalFormularioEdit' sucursal.id %}" class="btn btn-download">
                      <i class="icon-pencil"></i>
                    </a>
                    <form action="{% url "dashboards:sucursalFormularioDelete" %}" class="delete-form" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{sucursal.id}}">
                      <button class="btn btn-danger">
                        <span class="icon-trash"></span>
                      </button>
                    </form>
                  </div>
                </td>
                <td>{{sucursal}}</td>
                <td>{{sucursal.compania}}</td>
                <td class="formato_numero" >{{sucursal.rendimiento_de_nueva}}</td>
                <td class="formato_numero" >{{sucursal.rendimiento_de_primera}}</td>
                <td class="formato_numero" >{{sucursal.rendimiento_de_segunda}}</td>
                <td class="formato_numero" >{{sucursal.rendimiento_de_tercera}}</td>
                <td class="formato_numero" >{{sucursal.rendimiento_de_cuarta}}</td>
                <td class="formato_numero" >${{sucursal.precio_nueva_direccion}}</td>
                <td class="formato_numero" >${{sucursal.precio_nueva}}</td>
                <td class="formato_numero" >${{sucursal.precio_renovada}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>

</main>

<script src="{% static 'js/inputChange.js' %}"></script>
<script>
  document.addEventListener('submit', (e) => {
    if (e.target.matches('.delete-form')) {
      e.preventDefault();
      Swal.fire({
        title: '¿Esta seguro?',
        text: 'Esta acción eliminará al usuario de manera permanente',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si',
        cancelButtonText: 'No',
      }).then((result) => {
        if (result.isConfirmed) {
          e.target.submit();
        } else {
          result.dismiss === Swal.DismissReason.cancel;
        }
      })
    }
  });

// Formato numero
const separator = (numb) => {
      let str = numb.toString().split(".");
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return str.join(".");
  }

  const decimalConverter = () => {
      const numbers = document.querySelectorAll('.formato_numero');

      numbers.forEach( (number) => {
          number.textContent = separator(number.textContent);
      } );
  }
  decimalConverter();

</script>

{% endblock %}