/* New colors */

:root {
  --colorv00: #363636;
  --colorv01: #242424;
  --colorv02: #fff;
  --colorv03: #606060;
  --colorv04: #026cf5;
  --colorv05: #dbc002;
  --colorv06: #8a2be2;
  --colorv07: #f0412c;
  --colorv08: #009345;
  --colorv09: #ff1493;
  --colorv10: #23252b;
  --colorv11: #2f5161;
  --colorv12: #213944;
  --colorv13: #f47521;
  --colorv14: #00e5f3;
  --colorv15: #222;
  --colorv16: #000;
  --colorv17: #808080;
  --colorv18: transparent;
  --colorv19: #eee;
  --colorv20: #ccc;
  --colorv21: #9b9b9b;
  --colorv22: #ff0000;
  --colorv23: #dcdcdc;
  --colorv24: #90ee90;
  --colorv25: #171717;
  --colorv26: #111;
  --colorv27: #202020;
  --colorv28: #21664d;
  --colorv29: #00558f;
  --colorv30: #1f1f1f;
  --colorv31: rgb(255, 255, 255, 0.7);
  --colorv32: #4d4d4d;
  --colorv33: #0071bc;
  --colorv34: #ddd;
  --colorv35: #9147ff;
  --colorv36: rgb(255, 255, 255, 0.25);
  --colorv37: #333;
  --colorv38: #646464;
  --colorv39: #353535;
  --colorv40: #6666d9;
  --colorv41: #009245;
  --colorv42: #4caf50;
  --colorv43: #555;
  --colorv44: #f1f1f1;
  --colorv45: #242424;
  --colorv46: #fff;
  --colorv47: #213944;
  --colorv48: #606060;
  --font-family: "Poppins", Arial, Helvetica, sans-serif;
  --font-size: 16px;
  --font-size-button: 1.25rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: var(--colorv00);
  color: var(--colorv02);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25rem 0;
}

/* Skeleton */

.skeleton {
  background-color: var(--colorv01);
  animation: skeleton 1s linear infinite alternate;
}

@keyframes skeleton {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.3;
  }
}

/* .loader__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.loader {
  width: 8px;
  height: 48px;
  display: block;
  margin: auto;
  left: -20px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: 20px 0 rgba(255, 255, 255, 0.25), 40px 0 white, 60px 0 white;
  }
  50% {
    box-shadow: 20px 0 white, 40px 0 rgba(255, 255, 255, 0.25), 60px 0 white;
  }
  100% {
    box-shadow: 20px 0 white, 40px 0 white, 60px 0 rgba(255, 255, 255, 0.25);
  }
} */

.badge-btn {
  border: thin solid var(--colorv02);
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.icon-spinner2 {
  animation: spinner 1s linear infinite;
  display: none;
  font-size: 3rem;
  height: fit-content;
  margin: auto;
  width: fit-content;
  /* grid-column: span 4; */
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.flex-row,
.flex-row-nowrap {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

/* Start header */

.head-cont {
  align-items: center;
  background-color: var(--colorv01);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-align: center;
  position: relative;
}

.head-cont::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    135deg,
    rgba(0, 151, 240, 1) 0%,
    rgba(18, 188, 200, 1) 100%
  );
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 1024px) {
  .head-cont {
    justify-content: space-between;
  }
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--colorv17);
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #292929;
}

/* End header */

.logo {
  width: 150px;
}

.dropdown {
  color: var(--colorv02);
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.drop-btn {
  align-items: center;
  background-color: var(--colorv15);
  background: none;
  border: none;
  color: var(--colorv02);
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.25rem;
  gap: 0.25rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
}

.drop-menu {
  background-color: var(--colorv15);
  border-radius: 0.25rem;
  border: 2px solid var(--colorv09);
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  max-height: 200px;
  opacity: 0;
  overflow-x: auto;
  overflow-y: auto;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0px, 40px);
  transition: all 0.4s ease;
  z-index: 5;
}

.drop-menu::-webkit-scrollbar {
  width: 10px;
}

.drop-menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--colorv16);
}

.drop-menu::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--colorv17);
}

.drop-search {
  position: relative;
}

.drop-search i {
  position: absolute;
  right: 12px;
  top: 30%;
  pointer-events: none;
}

input,
select {
  /* border-radius: 0.5rem; */
  background: transparent;
  border: none;
  border: 2px solid lightgray;
  color: var(--colorv02);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  padding: 0.5rem;
  transition: all 0.3s ease;
  /* width: auto; */
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select option {
  color: #000;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--colorv21);
  outline: 0;
  font-size: 1.3rem;
  color: var(--colorv02);
  padding: 7px 0;
  background: var(--colorv18);
  transition: border-color 0.2s;
}

.search-item {
  transition: all 0.2s ease-out;
}

.search-item.filter {
  order: 1;
  opacity: 0;
  visibility: hidden;
}

.drop-input::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}

.drop-menu.active {
  pointer-events: all;
  opacity: 1;
}

.indicator i {
  font-size: 0.8rem;
  transition: all 0.2s ease-out;
}

.indicator.active i {
  transform: rotate(90deg);
}

/* Customize the label (the container) */
.input-check {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.input-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--colorv19);
}

/* On mouse-over, add a grey background color */
.input-check:hover input ~ .checkmark {
  background-color: var(--colorv20);
}

/* When the checkbox is checked, add a blue background */
.input-check input:checked ~ .checkmark {
  background-color: var(--colorv09);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.input-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.input-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid var(--colorv02);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Button */

.btn {
  transition: all 0.3s ease;
}

.btn-aeto-crunch {
  background-color: var(--colorv10);
  color: var(--colorv02);
  padding: 0.75rem;
  transition: background-color 0.2s ease;
}

.btn-aeto-crunch:hover {
  background-color: var(--colorv11);
}

.btn-aeto-crunch.active {
  border-top: thin solid var(--colorv13);
  background-color: var(--colorv12);
  font-weight: bold;
}

.btn-aeto-crunch.alt {
  border-color: var(--colorv14);
  height: 100%;
}

.btn-trash {
  align-items: center;
  background-color: var(--colorv09);
  border-radius: 50%;
  color: #fff; /*No cambia*/
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  transition: all 0.2s ease-in;
}

.btn-trash:hover {
  opacity: 0.85;
}

.btn-success,
.btn-download,
.btn-info,
.btn-danger {
  align-items: center;
  border-radius: 50%;
  color: #fff; /* No cambia*/
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  padding: 0.75rem;
}

.btn-success.disabled,
.btn-download.disabled,
.btn-info.disabled,
.btn-danger.disabled {
  background-color: var(--colorv23);
  color: var(--colorv17);
  cursor: not-allowed;
  pointer-events: none;
}

.btn-success {
  background-color: var(--colorv08);
}

.btn-download {
  background-color: var(--colorv04);
}

.btn-info {
  background-color: var(--colorv06);
}

.btn-danger {
  background-color: var(--colorv07);
}

.btn:hover {
  opacity: 0.85;
}

.select-all {
  color: var(--colorv09);
}

/* Font Style */

.italic {
  font-style: italic;
}

/* Input */

.form__group {
  position: relative;
  padding: 15px 0 0;
  transition: all 0.4s ease;
}

.form__field.invalid,
.form__field.invalid ~ .form__label {
  border-color: var(--colorv22);
}

.form__field.invalid ~ .form__label {
  color: var(--colorv22);
}

.form__field::placeholder {
  color: var(--colorv18);
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.25rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--colorv21);
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: var(--colorv08);
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--colorv08);
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}

/* Pop Out */

.popout-text {
  position: absolute;
  background-color: var(--colorv16);
  border-radius: 0.25rem;
  display: none;
  margin-left: 3rem;
  padding: 0.75rem;
  transition: all 0.4s ease;
  z-index: 2;
  top: 45px;
  right: -50px;
}

.about-btn > .popout-text {
  top: 30px;
  right: 0;
}

.popout-text p {
  font-family: var(--font);
  color: var(--colorv02);
  font-size: 0.85rem;
  margin: 0.25rem 0;
}

.icon-score:hover .popout-text {
  display: block;
  z-index: 3;
}

.icono-pantallaC:hover .popout-text {
  display: block;
  z-index: 3;
  width: 230px;
}

.about-btn:hover .popout-text {
  display: block;
  z-index: 3;
  width: 230px;
}

.icon-score:hover .popout-text {
  display: block;
  z-index: 3;
}

.circle {
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(0, 151, 240, 1) 0%,
    rgba(18, 188, 200, 1) 100%
  );
  border-radius: 50%;
  box-shadow: 0 0.25rem 1rem rgba(255, 255, 255, 0.25);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  height: 100px;
  width: 100px;
}

.circle span {
  font-size: 1.5rem;
  color: #fff; /*No cambia*/
}

.alert__container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* ? Alerts */

.alert__warn,
.alert__error {
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  padding: 1rem;
  transition: all 0.4s ease;
  /* Visibilty */
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}

.alert__warn {
  background-color: var(--yellow-color);
  color: var(--colorv02);
}

.alert__error {
  background-color: var(--red-color);
  color: var(--colorv02);
}

.alert__warn.active,
.alert__error.active {
  visibility: visible;
  opacity: 1;
  position: relative;
  pointer-events: all;
}

input[type="date"]::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

@media screen and (min-width: 1024px) {
  body {
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
  }

  .drop-menu {
    width: max-content;
  }
}

@media screen and (min-width: 1440px) {
  .circle {
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 1920px) {
  .circle {
    height: 200px;
    width: 200px;
  }

  .circle span {
    font-size: 2rem;
  }
}

.icon-file-pdf {
  color: var(--colorv02);
}
