.header {
  align-items: center;
  background-color: var(--colorv01);
  color: #fff; /*No cambia*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-align: center;
}

.title-cont {
  font-size: 2.25rem;
}

.section-head {
  background-color: var(--colorv45);
  padding: 0.5rem;
}

.section-title {
  font-size: 2rem;
}

.img-logo {
  width: 150px;
}

.main-title {
  font-size: 2.25rem;
}

.btn-group {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.main-cont {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
}

/* Agregar producto */
.container {
  background-color: var(--colorv45);
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  padding: 0.75rem;
}

.container-fluid {
  height: 100%;
  position: relative;
  width: 100%;
}

.cont-left,
.cont-right {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr;
}

/* Formulario */

.form-aeto {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  height: inherit;
  overflow-y: auto;
  padding: 1rem;
  width: inherit;
}
.form-aeto::-webkit-scrollbar,
.table-cont::-webkit-scrollbar {
  width: 10px;
}

.form-aeto::-webkit-scrollbar-thumb,
.table-cont::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--colorv16);
}

.form-aeto::-webkit-scrollbar-track,
.table-cont::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--colorv17);
}

.main-table th {
  color: #fff; /*No se cambia*/
  border-bottom: 2px solid var(--colorv14);
  padding: 0.5rem;
  text-align: center;
}

.main-table td {
  color: var(--colorv02);
  padding: 0.5rem;
  text-align: center;
}

/* Table */

.table-cont {
  background: var(--colorv45);
  height: 100vh; /* Define la altura minima */
  position: relative;
  overflow: auto;
  width: 100%;
}

.main-table {
  position: absolute;
  width: 100%;
  border-collapse: collapse;
}

.main-table thead {
  background-color: var(--colorv12);
}

.main-table tbody tr:nth-child(even) {
  background-color: var(--colorv47);
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .all-cont {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }

  .header {
    justify-content: space-between;
    padding: 0 1rem;
  }

  .main-cont {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    padding: 0.5rem 1rem;
  }

  .table-cont {
    height: 100%; /* Quita el scroll en version desktop */
  }

  .form-aeto {
    position: absolute;
  }
}
