.head-cont {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
}

.config-nav h1 {
  color: #fff; /*NO cambia*/
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

.nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.justify-end {
  justify-content: flex-end;
}

.form__field {
  padding: 0.25rem;
}

.absolute {
  position: absolute;
}

.btn-download {
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.container {
  position: relative;
}

.config-nav {
  align-items: center;
  background-color: var(--colorv01);
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 50px;
  z-index: 1;
}

.grid {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.con.on-view {
  display: flex;
}

.buttonsC {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  gap: 1px;
}

.con {
  background-color: var(--colorv45);
  border-radius: 0.25rem;
  display: none;
  flex-flow: column nowrap;
  gap: 1rem;
  height: 100%;
  padding: 0.5rem;
  width: 100%;
}

.con-title,
.con-sec {
  background-color: var(--colorv00);
}

.con-title {
  border-radius: 2rem;
  padding: 0.5rem;
  text-align: center;
}

.wrapper {
  position: relative;
}

.con-sec,
.form-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.text-input {
  display: grid;
  align-items: center;
  gap: 0.25rem;
  grid-template-columns: auto 40% auto;
}

.number-input {
  background: var(--colorv18);
  border: none;
  border-bottom: thin solid var(--colorv02);
  color: var(--colorv02);
  font-size: 1.25rem;
  font-weight: bold;
  outline: none;
}

.btn-redirect {
  background-color: #fff; /*No cambia*/
  border: thin solid #fff; /*No cambia*/
  border-radius: 0.5rem;
  color: var(--colorv16);
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}

.btn-redirect:hover {
  background: var(--colorv16);
  color: var(--colorv02);
}

.w-100 {
  width: 100%;
}

.con-title__text {
  margin: 0;
}

.con-sec {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  overflow-y: auto;
  padding: 0.5rem;
  width: 100%;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
  position: relative;
}

.wrapper {
  position: relative;
  height: 100%;
}

.right {
  margin-top: 0.75rem;
  margin-left: auto;
}

.dias_inflado {
  text-align: center;
  background: var(--colorv38);
  margin: 1rem;
  border-radius: 10px;
}

.dias_inflado p {
  font-size: 2rem;
}

.presion {
  text-align: center;
  background: var(--colorv38);
  margin: 1rem;
  border-radius: 10px;
}

.presion p {
  font-size: 2rem;
}

.dias_visto {
  text-align: center;
  background: var(--colorv38);
  margin: 1rem;
  border-radius: 10px;
}

.retiro {
  text-align: center;
  background: var(--colorv38);
  margin: 1rem;
  border-radius: 10px;
}

.title_cont2 {
  display: flex;
  background: var(--colorv39);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.params {
  padding-top: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.form-label {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.form-control {
  background: var(--colorv18);
  border: thin solid var(--colorv02);
  color: var(--colorv02);
  font-size: 16px;
  padding: 0.5rem;
  outline: none;
}

.buttons input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.agregar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.buttons p {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  color: var(--colorv02);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background: var(--colorv40);
}

.buttons .button2 {
  display: flex;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  background: var(--colorv08);
  align-items: center;
}

.buttons .button2 .blue_btn-text {
  background: none;
  color: var(--colorv02);
}

.indicators {
  display: none;
}

.btn.disabled {
  background-color: var(--colorv23);
  color: var(--colorv17);
  cursor: not-allowed;
  pointer-events: none;
}

@media only screen and (min-width: 1024px) {
  .all-cont {
    display: flex;
    height: 100vh;
  }

  .buttonsC {
    display: none;
  }

  .indicators {
    display: flex;
  }

  .not-allowed {
    cursor: not-allowed;
    filter: grayscale(1);
    pointer-events: none;
  }

  /* configuración */

  .container {
    border-radius: 0.25rem;
    gap: 1rem;
    height: 100%;
    width: 100%;
  }

  .title {
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }

  .grid {
    margin: 0;
  }

  .row {
    height: 100%;
    position: relative;
  }

  .page {
    display: none;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .page.active {
    display: grid;
  }

  .config-nav {
    position: static;
    top: 0;
  }

  .form__container {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr;
    height: 100%;
  }

  .con {
    display: flex;
  }

  .con-sec {
    position: absolute;
    padding: 1.25rem;
  }
}
