p {
  margin: 0.25rem;
}

.title__operativo {
  font-size: 2rem;
}

.main-cont {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 0.5rem;
}

.head-menu {
  background-color: #202020;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.horizontal {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem;
}

.cont-horizontal {
  display: grid;
  gap: 0.5rem;
  height: 100%;
}

.column,
.card {
  background: #202020;
  border-radius: 0.25rem;
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
}

.column.row {
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

/* ? CHART */

.chart-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.chart-container .chart {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* ??? */

.card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #009245;
}

.card.active {
  background-color: #009245;
}

.cont__charts {
  display: grid;
  gap: 0.5rem;
}

.a__title {
  font-size: 2rem;
}

.view {
  display: none;
  padding: 0.5rem;
}

.view.on {
  display: block;
}

.drop-menu {
  top: auto;
}

.grid-4 {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
}

/* Desktop */

@media only screen and (min-width: 1024px) {
  .horizontal {
    grid-template-columns: repeat(4, 1fr);
  }

  .cont-horizontal {
    grid-template-columns: repeat(2, 1fr);
  }
}
