.main-cont {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  position: relative;
}

fieldset {
  border: none;
}

.space-between {
  justify-content: space-between;
}

.flex-row {
  flex-flow: row wrap;
}

.form-title {
  font-size: 2.25rem;
}

.form__label {
  color: var(--colorv20);
}

.form__field {
  font-size: 1rem;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
}

.form__field:placeholder-shown ~ .form__label.small-text {
  font-size: 0.95rem;
}

.form-container {
  height: 100%;
  margin: auto;
  padding: 1rem 0;
  width: 90%;
}

.form-content {
  background-color: var(--colorv45);
  display: grid;
  grid-template-rows: auto 1fr;
  height: inherit;
  padding: 1rem;
}

.form-content__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding: 0.5rem;
}

.form-content__flex {
  align-items: center;
  display: flex;
  height: fit-content;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
}

.form-content__flex > * {
  flex: 1 1 300px;
}

input[type="date"]::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.dropdown {
  border-bottom: 2px solid var(--colorv21);
}

.drop-btn {
  color: var(--colorv20);
}

.drop-menu {
  width: 100%;
}

/* 
  * New styles
*/

.form-body {
  display: grid;
  margin: 1rem;
  gap: 1rem;
}

.form-body_form {
  background-color: var(--colorv45);
  height: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 400px;
  height: 100%;
}

.input-catalogo {
  background: transparent;
  border: none;
  border-bottom: thin solid #fff;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.75rem 0.5rem;
  width: 100%;
  transition: all 0.2s ease-in;
}

.input-catalogo:focus {
  border-bottom: 2px solid;
  border-color: var(--colorv08);
  color: var(--colorv08);
}

.input-catalogo::placeholder {
  font-weight: bold;
}

.table-container {
  background-color: var(--colorv45);
  border-radius: 0.5rem;
  padding: 0.5rem;
  overflow: auto;
}

.main-table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
}

.main-table thead {
  background-color: var(--colorv12);
  position: sticky;
  top: 0;
}

.main-table td {
  color: var(--colorv02);
  padding: 1rem 0.75rem;
  text-align: center;
}

.main-table th {
  color: #fff;
  border-bottom: 2px solid var(--colorv14);
  padding: 1rem 0.75rem;
  text-align: center;
}

.main-table tbody tr:nth-child(even) {
  background-color: var(--colorv47);
}

.form__group {
  margin-bottom: 1rem;
}

select {
  background: transparent;
  color: var(--colorv02);
  font-family: inherit;
  font-size: 0.9rem;
}

.select-label {
  display: block;
  margin-bottom: 0.25rem;
  width: 100%;
}

.select-input {
  outline: none;
  padding: 0.75rem 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-input option {
  color: #000;
}

.dropdown {
  display: flex;
  margin-bottom: 1rem;
}

.drop-btn {
  font-size: 0.95rem;
  padding: 1rem 0.25rem;
}

.relative {
  position: relative;
  height: 100%;
  overflow: auto;
}

.absolute {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .form-body {
    grid-template-columns: auto 1fr;
  }

  .absolute {
    position: absolute;
    padding-right: 1rem;
  }
}
