img {
  width: 50%;
  height: auto;
}

.form {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}

.col-2 {
	flex: 1 1 auto;
}

.form__container {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 1000px;
	width: 100%;
}

.encabezado {
  display: flex;
  height: 45px;
  justify-content: space-around;
  margin: 1rem;
}

.encabezado h1 {
  font-size: 2rem;
  border-bottom: 2px solid;
  width: 95%;
}

.encabezado img {
  height: auto;
}

.input__item {
	color: var(--colorv17);
	font-family: inherit;
  -webkit-transition: 0.5s;
  border: 3px solid var(--colorv02);
  box-sizing: border-box;
  font-size: 1.25rem;
  margin: 8px 0;
  outline: none;
  padding: 12px 20px;
  transition: 0.5s;
  width: 100%;
}

.select__item:focus {
  border: 3px solid var(--colorv04);
}

.input__label, .cont__select {
  display: grid;
  text-align: center;
  background: var(--colorv08);
  height: 84px;
}

.label__item {
  font-size: 1.25rem;
  display: grid;
  text-align: center;
}

.select__item {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid var(--colorv02);
  color: var(--colorv37);
  font-size: 1.25rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

option:hover {
  background-color: var(--colorv42);
}

button.btn.btn-success {
  position: fixed;
}

.add {
  background: var(--colorv08);
  border: none;
  color: var(--colorv02);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  transition: all 0.4s ease;
  border-radius: .25rem;
  cursor: pointer;
}

.add:hover {
  opacity: .85;
}

.delete {
  background: var(--colorv07);
  border: none;
  border-radius: .25rem;
  color: var(--colorv02);
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: all 0.4s ease;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.delete:hover {
  opacity: .85;
}

small {
  font-style: italic;
}

.input__group {
  display: grid;
  gap: 0.5rem;
}

.label__group {
  display: grid;
  gap: 0.5rem;
  background: var(--colorv03);
  padding: 0 1rem;
  border-radius: 0.25rem;
  align-items: center;
  margin: 0.5rem 0;
}

.product__item {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
}

.aside {
  position: absolute;
  margin-left: 82vw;
  top: 8vh;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: flex-start;
  align-items: end;
  margin: 1rem 0;
  justify-items: center;
}

@media screen and (min-width: 1024px) {
  .input__group {
    grid-template-columns: repeat(3, 1fr);
  }

  .label__group {
    grid-template-columns: repeat(2, 1fr);
    height: 13vh;
  }

  .product__item {
    grid-template-columns: 3fr 1fr;
    width: 90%;
    justify-items: end;
  }

  .aside {
    margin-left: 52vw;
    top: 3.5vh;
  }

  .delete {
    margin-top: 4rem;
  }

  img {
   width: 70%;
  }

  header h2 {
    font-size: 2rem;
  }
}