.head-cont {
  gap: 1rem;
}

.input-check input:checked ~ .checkmark {
  background-color: var(--colorv14);
}

.btn-success {
  margin-left: auto;
  width: fit-content;
}

.main__container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.head__title {
  font-size: 2.25rem;
  text-transform: uppercase;
}

.context__container {
  background-color: var(--colorv01);
  border-radius: 0.25rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr auto;
  margin: 1rem;
  padding: 1rem;
}

.context__card-container {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.context__card {
  border: thin solid var(--colorv14);
  display: grid;
  flex: 1 1 auto;
  grid-template-rows: auto 1fr;
}

.card__header,
.card__body {
  background-color: var(--colorv00);
  padding: 0.75rem;
}

.card__header h2 {
  border-bottom: thin solid var(--colorv14);
  padding-bottom: 0.5rem;
}

.card__body-item {
  margin-bottom: 1rem;
}

.relative {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .context__card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
