:root {
  --black: #171717;
  --gray: linear-gradient(#363636, #242424);
}

body {
  background-color: var(--colorv00);
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.top-nav {
  display: flex;
  background: var(--colorv01);
  color: #fff; /*No cambia*/
  flex-flow: column wrap;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

hr {
  border-top: thin solid var(--colorv02);
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 95%;
}

.drop-input {
  background: #36363650;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0.75rem;
}

.drop-search i {
  font-size: 1.5rem;
}

.dashboard,
.informe {
  background: var(--colorv25);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2%;
}

.reporte-link {
  color: var(--colorv02);
  font-weight: bold;
  text-decoration: none;
}

.dashboard-link {
  text-decoration: none;
  color: var(--colorv02);
}

@media screen and (min-width: 1024px) {
  hr {
    display: none;
  }

  .horizontal {
    width: 100%;
    margin: 0;
    background: var(--colorv00);
    display: grid;
    grid-template-rows: 2fr 16fr;
  }

  .top-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cont-horizontal {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cont-search {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  h2 {
    margin: 0;
  }
}
