:root {
  --colorv00: #363636;
  --colorv01: #242424;
  --colorv02: #fff;
  --colorv03: #606060;
  --colorv04: #026cf5;
  --colorv05: #dbc002;
  --colorv06: #8a2be2;
  --colorv07: #f0412c;
  --colorv08: #2e8b57;
  --colorv09: #ff1493;
  --colorv10: #23252b;
  --colorv11: #2f5161;
  --colorv12: #213944;
  --colorv13: #f47521;
  --colorv14: #00e5f3;
  --colorv15: #222;
  --colorv16: #000;
  --colorv17: #808080;
  --colorv18: transparent;
  --colorv19: #eee;
  --colorv20: #ccc;
  --colorv21: #9b9b9b;
  --colorv22: #ff0000;
  --colorv23: #dcdcdc;
  --colorv24: #90ee90;
  --colorv25: #171717;
  --colorv26: #111;
  --colorv27: #202020;
  --colorv28: #21664d;
  --colorv29: #00558f;
  --colorv30: #1f1f1f;
  --colorv31: rgb(255, 255, 255, 0.7);
  --colorv32: #4d4d4d;
  --colorv33: #0071bc;
  --colorv34: #ddd;
  --colorv35: #9147ff;
  --colorv36 :rgb(255, 255, 255, 0.25);
  --colorv37: #333;
  --colorv38: #646464;
  --colorv39: #353535;
  --colorv40: #6666d9;
  --colorv41: #009245;
  --colorv42: #4caf50;
  --colorv43: #555;
  --colorv44: #f1f1f1;
  --font-family: 'Poppins', Arial, Helvetica, sans-serif;
  --font-size: 16px;
  --font-size-button: 1.25rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--colorv26);
  color: var(--colorv02);
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: calc(2rem + 2vw);
  margin: 0.25rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

.link {
  color: var(--colorv04);
}

.log-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 100%;
}

.img-log {
  display: none;
  flex-basis: 65%;
  height: 100%;
  position: relative;
}

.img-log > div {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.img-log img {
  width: 400px;
}

.log-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.log-form__form {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
}

/* Input */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--colorv21);
  outline: 0;
  font-size: 1.3rem;
  color: var(--colorv02);
  padding: 7px 0;
  background: var(--colorv18);
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: var(--colorv18);
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--colorv21);
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* Button */

.btn {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in;
}

.btn-aeto {
  background-color: var(--colorv10);
  border-radius: 0.25rem;
  color: var(--colorv02);
  padding: 0.75rem;
}

.btn-aeto:hover {
  opacity: 0.75;
}

/* Footer */

.footer-log {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Desktop */

@media screen and (min-width: 1024px) {
  .log-container {
    justify-content: space-between;
  }

  .img-log {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .log-form {
    flex-basis: 35%;
    padding: 2rem;
  }
}
