html {
  word-break: break-all;
}

.head-cont {
  flex-flow: row wrap;
  gap: 1rem;
}

.head-cont h1 {
  padding: 0.25rem;
}

.drop-search i {
  font-size: 1.25rem;
}

.drop-input {
  border: thin solid #fff; /*No cambia*/
  color: #fff; /*No cambia*/
  font-size: 1rem;
}

select {
  border-radius: 0.25rem;
  background-color: var(--colorv01);
  color: #fff; /*No cambia*/
  font-size: 1rem;
  border: none;
  padding: 0.25rem;
}

.relative {
  height: 100%;
  position: relative;
  width: 100%;
}

.absolute {
  height: inherit;
  position: absolute;
  overflow-y: auto;
  width: inherit;
}

.absolute::-webkit-scrollbar {
  width: 10px;
}

.absolute::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--colorv16);
}

.absolute::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--colorv17);
}

.main__container {
  display: flex;
  flex-flow: column nowrap;
}

.cards__container {
  display: grid;
  /* display: flex;
  flex-flow: row wrap; */
  gap: 1rem;
  /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
  grid-template-columns: 1fr;
  padding: 1rem;
}

.card__wrapper {
  align-items: center;
  background-color: var(--colorv27);
  border-radius: 0.25rem;
  display: grid;
  height: 100%;
  flex: 1 1 400px;
  /* gap: 1rem; */
  grid-template-rows: auto 1fr;
  /* padding: 1rem; */
  position: relative;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.5); */
  box-shadow: 0 0 1px 1px var(--colorv36);
}

.card__content {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr;
  padding: 1rem;
}

.card__header {
  background-color: var(--colorv02);
  color: var(--colorv10);
  padding: 0.25rem;
}

.economic {
  text-align: center;
}

.card__img {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.card__img .icon-tire2 {
  /* font-size: 18vmin; */
  color: var(--colorv02);
  font-size: 10rem;
}

.card__body {
  background-color: var(--colorv00);
  border-radius: 0.25rem;
  height: 100%;
  padding: 1rem;
  position: relative;
}

.card__body p {
  margin: 0;
}

.tire__status {
  background-color: var(--colorv02);
  border-radius: 50%;
  height: 1.25rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.25rem;
}

.tire__status.good {
  background-color: #026cf5; /* No cambia */
}

.tire__status.yellow {
  background-color: #dbc002; /* No cambia */
}

.tire__status.bad {
  background-color: #f0412c; /* No cambia */
}

.tire__status.suspiciuos {
  background-color: #8a2be2; /* No cambia */
}

/* ? Filter Menu */

.filter__container {
  align-items: center;
  background-color: rgba(33, 33, 33, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  right: 0;
  width: 100%;
  transition: all 0.4s ease;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.filter__container.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.filter__content {
  background-color: var(--colorv45);
  border-radius: 0.25rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 2rem;
  /* min-width: 300px; */
  max-width: 325px;
  position: relative;
}

.filter__content .btn-danger {
  top: -25px;
  right: -25px;
  position: absolute;
}

.select__field {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.btn-select {
  background-color: lightgray;
  border-radius: 0.25rem;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  color: #000;
  justify-content: space-between;
  padding: 0.5rem;
}

.list__items {
  background-color: lightgray;
  border-radius: 0.25rem;
  color: #000;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  overflow-y: auto;
  padding: 0.5rem;
  position: absolute;
  max-height: 325px;
  top: 50px;
  width: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.list__items.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.form__wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.form__wrapper > * {
  flex: 1 1 auto;
}

h1 {
  background: var(--colorv04);
  border-radius: 5px;
}

.check-tire {
  display: none;
}

.tire-input input:checked ~ .card__wrapper {
  box-shadow: 0 0 8px 1px var(--colorv04);
}

.nav__pages {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.cart {
  position: relative;
}

.cart__counter {
  align-items: center;
  background-color: red;
  border-radius: 50%;
  display: flex;
  font-size: 0.75rem;
  height: 1.75rem;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 1.75rem;
}

.btn.prev {
  background-color: gray;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem;
}

.btn.next {
  background-color: #026cf5;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem;
}

.add-item {
  align-items: center;
  background-color: gray;
  border-radius: 0.25rem;
  color: #fff;
  display: flex;
  font-size: 1.25rem;
  height: 35px;
  justify-content: center;
  margin-left: auto;
  transition: all 0.3s ease;
  width: 35px;
}

.add-item:hover {
  background-color: cornflowerblue;
}

.alert__success {
  background-color: seagreen;
  border-radius: 0.25rem;
  bottom: 2vh;
  color: #fff;
  padding: 0.75rem;
  position: fixed;
  right: 2vw;
  transition: all ease-in-out 0.2s;
  transform: translateY(300%);
}

.alert__success.active {
  transform: translateY(0);
}

button:disabled {
  background-color: var(--colorv17);
  cursor: default;
}

.btn-filter {
  background-color: var(--colorv06);
  border-radius: 0.25rem;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
}

.select-control {
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .flex-row {
    justify-content: flex-end;
  }

  .head-cont {
    flex-flow: row nowrap;
  }

  .head-cont > * {
    flex: 1 1 auto;
  }

  .filter__content {
    max-width: 350px;
  }
}
/* TABLET */
@media screen and (min-width: 768px) {
  .cards__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP S */
@media screen and (min-width: 1024px) {
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .filter__content {
    min-width: 630px;
  }
}

/* DESKTOP M */
@media screen and (min-width: 1440px) {
  .cards__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
