.head-cont {
  justify-content: space-between;
}

/* BUTTONS */

.btn-filter {
  align-items: center;
  background-color: var(--colorv17);
  border-radius: 0.25rem;
  border: none;
  color: var(--colorv02);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  font-weight: 500;
  /* height: 100%; */
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  transition: all 0.3s ease;
  /* width: 100%; */
}

.label-check input:checked ~ .btn-filter.head,
.btn-filter.head:hover {
  background-color: var(--colorv08);
  color: #fff;
}

.label-check input:checked ~ .tire {
  color: orange;
}

.label-check input:checked ~ .btn-filter.rotar,
.btn-filter.rotar:hover {
  background-color: var(--colorv04);
  color: #fff;
}

.label-check input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.label-check {
  position: relative;
  width: 100%;
}

.label-check input:disabled ~ .btn-filter,
.label-check input:disabled ~ .tire {
  filter: brightness(0.75);
  cursor: not-allowed;
}

.label-check input:checked ~ .btn-filter,
.btn-filter:hover,
.btn-filter.active {
  background-color: var(--colorv02);
  color: var(--colorv00);
}

/* CUSTOM CSS */

.all-cont {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
}

.container {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}

.left-cont {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.service-page,
.tire-list,
.main-cont,
.right-cont {
  background-color: var(--colorv45);
  border-radius: 0.25rem;
}

/* ! Service page */

.service-page {
  display: grid;
  gap: 0.45rem;
  padding: 0.5rem;
}

.form__row input,
.service-page .flex-row input {
  background: transparent;
  border: thin solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.service-page .flex-row * {
  flex: 1 1 auto;
}

.btn-taller {
  background-color: var(--colorv04);
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.close-modal {
  background-color: var(--colorv07);
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.alert__success {
  background-color: seagreen;
  border-radius: 0.25rem;
  bottom: 2vh;
  color: #fff;
  padding: 0.75rem;
  position: fixed;
  right: 2vw;
  transition: all ease-in-out 0.2s;
  transform: translateY(300%);
}

.alert__success.active {
  transform: translateY(0);
}

/* ! */

.tire-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  overflow: auto;
}

.relative {
  height: 100%;
  position: relative;
  width: 100%;
}

.absolute {
  height: 100%;
  position: absolute;
  width: 100%;
}

.tire-item {
  align-items: center;
  background-color: var(--colorv00);
  display: flex;
  gap: 1rem;
  height: min-content;
  justify-content: space-evenly;
  padding: 0.75rem;
}

.service__img span {
  font-size: 6rem;
}

.tire-item p {
  margin: 0;
}

.tire-info {
  text-align: center;
}

.main-cont {
  flex-flow: column nowrap;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 1.25rem;
}

.head__services {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
}

.nav__services {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  width: 100%;
  top: 0;
}

.nav__services .flex-row {
  flex-flow: row wrap;
}

.nav__services .label-check {
  flex: 1 1 auto;
  width: auto;
}

.nav__services.active {
  position: relative;
  order: 0;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.modal__bg {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  visibility: hidden;
  width: 100%;
  z-index: 999;
  transition: all 0.2s ease-in-out;
}

.modal__bg.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.modal__form {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  background-color: var(--colorv45);
  border-radius: 0.25rem;
  gap: 1rem;
  overflow: auto;
}

.modal__form label,
.modal__form select {
  display: block;
  width: 100%;
}

.modal__form select {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal__form legend {
  margin-bottom: 0.25rem;
}

.modal__form .flex-row {
  margin-bottom: 0.5rem;
}

.card__config,
.card__config-modal {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  justify-content: center;
  flex: 1 1 auto;
}

.config__row {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  flex-flow: row nowrap;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.config__row.double-shaft {
  width: 100%;
}

.config__row.double-shaft .shaft__wrapper {
  flex: 1 1 auto;
}

.shaft__wrapper .shaft.xl {
  width: 100%;
}

.shaft__wrapper {
  text-align: center;
  font-size: 1rem;
}

.config__row .icon-llanta-outline {
  font-size: 6rem;
}

.icon-llanta-outline.opacity-0 {
  opacity: 0;
  pointer-events: none;
}

.config__row .shaft {
  width: 100%;
  min-width: 2rem;
  height: 0.5rem;
  border: 2px solid var(--colorv02);
}

.shaft.xl {
  width: 6.25rem;
}

.tire {
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.tire.select {
  box-shadow: 0 0 12px 1px rgba(255, 255, 255, 0.5);
  filter: brightness(1);
}

.config__row .double__tire {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  position: relative;
}

.tag__middle {
  position: absolute;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}

.tag.good,
.pos.good {
  background-color: #026cf5; /*No cambia*/
  opacity: 1;
}
.tag.bad,
.pos.bad {
  background-color: #f0412c; /*No cambia*/
  opacity: 1;
}
.tag.yellow,
.pos.yellow {
  background-color: #dbc002; /*No cambia*/
  color: #000; /* No cambia */
}

.tire .tag {
  font-weight: 500;
  color: #fff;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center;
}

.pos {
  font-weight: 500;
  color: #fff;
  height: auto;
  width: 100%;
  text-align: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
}

.tag.top {
  top: 0;
}

.tag.bottom {
  bottom: 0;
}

.tag.good {
  background-color: #026cf5; /*No cambia*/
  opacity: 1;
}

.footer__row.good {
  background-color: #026cf5; /*No cambia*/
  opacity: 1;
}

.tag.bad {
  background-color: #f0412c; /*No cambia*/
  opacity: 1;
}

.flex-row {
  flex-flow: row wrap;
}

.form__services {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.form__services label {
  flex: 1 1 auto;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .flex-row {
    flex-flow: row nowrap;
  }

  .container {
    grid-template-columns: 1fr 2fr;
  }

  .card__config {
    width: 80%;
    margin: auto;
  }

  .card__config .config__row {
    width: 100%;
    gap: 1rem;
  }

  .config__row .icon-llanta-outline {
    font-size: 10rem;
  }

  .card__config-modal .config__row .icon-llanta-outline {
    font-size: 5rem;
  }

  .card__config-modal .tire .tag__middle .pos {
    font-size: 0.75rem;
    height: 2rem;
    width: 2rem;
  }

  .tire .tag__middle .pos {
    height: 3rem;
    width: 3rem;
  }

  .config__row .shaft__wrapper {
    flex: 1 1 auto;
  }

  .modal__bg {
    align-items: center;
    justify-content: flex-start;
  }

  .modal__form {
    margin-left: 1.5rem;
    width: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .card__config {
    width: 60%;
  }
}
