html {
  background-color: #fff; /* No cambia */
  color: #000; /*No cambia*/
  /* font-family: 'Montserrat', Arial, Helvetica, sans-serif; */
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: 4rem;
  min-height: auto;
  color: var(--colorv16);
  overflow-x: hidden;
  margin: auto;
  max-width: 950px;
}

thead {
  background: var(--colorv16);
  color: var(--colorv02);
  height: 30px;
}

img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.logo {
  height: 125px;
  width: 125px;
}

.space-between {
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

/* CUSTOM CSS */

.report__title {
  font-size: 2.25rem;
  height: 90%;
  display: flex;
  align-items: center;
  background: #000; /*No cambia*/
  color: #fff; /*No cambia*/
  width: 90%;
  padding-left: 1rem;
  border-radius: 0.25rem;
}

.report__head {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  justify-content: space-between;
}

.report__inspeccion {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  justify-content: flex-start;
  margin-top: 1rem;
}

.report__details {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.report__card {
  flex: 1 1 auto;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.report__card-title,
.report__card-body {
  padding: 0.5rem;
}

.report__card-title {
  background-color: #000; /*No cambia*/
  color: #fff; /*No cambia*/
}

.report__card-body {
  /* background-color: gray; */
  color: #000; /*No cambia*/
}

.main__container {
  align-content: center;
  display: grid;
  /* flex: 1 1 auto; */
  grid-template-columns: 1fr auto 1fr;
}

.content__wrapper {
  padding: 1rem;
  position: relative;
  text-align: center;
}

#content__wrapperid {
  padding: 0;
  display: flex;
}

.content__wrapper.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.config__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  margin: auto;
  width: 90%;
}

.tire .icon-tire2 {
  color: #000; /*No cambia*/
  font-size: 5rem;
}

.shaft {
  background-color: #000; /*No cambia*/
  height: 0.5rem;
  flex: 1 1 auto;
  width: 100%;
}

.axle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.axle span {
  color: #000; /*No cambia*/
  font-size: 1.2rem;
  font-weight: 600;
}

.tire__container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-around;
}

.tire__content {
  text-align: center;
  position: relative;
}

.tire {
  position: relative;
}

.tire__economic-top,
.tire__economic-bottom {
  font-size: 0.65rem;
  font-weight: 500;
  position: absolute;
}

.tire__economic-top {
  margin-top: -38px;
  border-bottom: solid 1px;
}

.tire__economic-bottom {
  border-top: solid 1px;
  bottom: -38px;
  right: 0;
  left: 0px;
}

.ibottom {
  transform: rotate(180deg);
}

.double-tire {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

.tire .tire__tag {
  border-radius: 0.25rem;
  color: #fff; /*No cambia*/
  font-size: 0.75rem;
  font-weight: bold;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

/* colors */

.tire__tag.good {
  background-color: #026cf5; /* No cambia */
}

.tire__tag.yellow {
  background-color: #dbc002; /* No cambia */
}

.tire__tag.bad {
  background-color: #f0412c; /* No cambia */
}

/*  */

.tire__tag.up {
  top: 0;
}

.tire__tag.down {
  bottom: 0;
}

.tire__tag.pos {
  border-radius: 50%;
  margin: auto;
  padding: 0.25rem;
  top: 35%;
  width: fit-content;
}

.center span {
  font-size: 2.5rem;
}

.inspection {
  gap: 0;
}

.config__list {
  display: grid;
}

.main__container-inspection {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.neInspeccion {
  text-align: center;
  font-size: 2rem;
}

.report__inspection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.report__card-inspection {
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
}

.report__card_title {
  color: var(--colorv02);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  background-color: var(--colorv16);
  align-items: center;
  font-weight: 600;
}

.report__card_body {
  font-weight: 600;
  color: var(--colorv16);
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorv17);
}

.report__card-evaluacion {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.report__card_rojo {
  background: var(--colorv22);
  height: 30px;
  width: 30px;
}
.report__card_amarillo {
  background: yellow;
  height: 30px;
  width: 30px;
}
.report__card_azul {
  background: var(--colorv04);
  height: 30px;
  width: 30px;
}

.config__container-table {
  overflow: hidden;
  height: 100%;
  width: 100%;
  gap: 0.25rem;
  display: flex;
}

.main__container-config {
  margin: auto;
  width: 70%;
}

.main__container-config .tire__tag.pos {
  padding: 0.5rem;
}

.main__container-config .tire .tire__tag {
  font-size: 1rem;
}

/* .ejes__1 .icon-tire2 {
  font-size: 15rem;
} */

.ejes__2 .icon-tire2 {
  font-size: 10.5rem;
}

.main__container-config.ejes__2 {
  margin-bottom: 12rem;
}

.ejes__3 .icon-tire2 {
  font-size: 9rem;
}

.main__container-config.ejes__3 {
  margin-bottom: 3rem;
}

.ejes__4 .icon-tire2 {
  font-size: 6rem;
}

.ejes__3 .tire__economic-top,
.ejes__3 .tire__economic-bottom,
.ejes__4 .tire__economic-top,
.ejes__4 .tire__economic-bottom,
.ejes__5 .tire__economic-top,
.ejes__5 .tire__economic-bottom .ejes__6 .tire__economic-top,
.ejes__6 .tire__economic-bottom {
  font-size: 0.65rem;
}

.ejes__5 .icon-tire2,
.ejes__6 .icon-tire2 {
  font-size: 6.75rem;
}

.ejes__4 .tire__tag,
.ejes__5 .tire__tag,
.ejes__6 .tire__tag {
  font-size: 0.75rem !important;
}

.ejes__4 .pos,
.ejes__5 .pos,
.ejes__6 .pos {
  padding: 0.25rem !important;
}

.ejes__3 .tire__economic-top,
.ejes__4 .tire__economic-top,
.ejes__5 .tire__economic-top,
.ejes__6 .tire__economic-top {
  margin-top: -38px;
}

.ejes__3 .tire__economic-bottom,
.ejes__4 .tire__economic-bottom,
.ejes__5 .tire__economic-bottom,
.ejes__6 .tire__economic-bottom {
  bottom: -38px;
}

.config__table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1px;
}

/* .th-table ,
.td-table{

} */

.list__cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 1rem 0.5rem;
  width: 100%;
}

.title-list {
  padding: 0;
}

.config__table td {
  text-align: center;
  padding: 0.5rem;
}

.config__table td span {
  font-size: 2.8rem;
  padding: 0.25rem;
  /* border: 2px solid #000; */
  border-radius: 0.5rem;
}

.mb-8 {
  margin-bottom: 15rem;
}
