html {
  box-sizing: border-box;
  color: var(--colorv02);
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--colorv00);
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
}

h1,
h2,
h3 {
  margin: 0.25rem 0;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

hr {
  width: 100%;
  margin: 0;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 0.75rem;
  transition: all 0.4s ease;
}

.btn:hover {
  opacity: 0.75;
}

.btn.disabled {
  background-color: var(--colorv23);
  color: var(--colorv17);
  cursor: not-allowed;
}

.btn-success,
.btn-danger {
  font-size: 2vw;
  border-radius: 10%;
}

.btn-success {
  background-color: var(--colorv08);
  color: var(--colorv02);
}

.btn-danger {
  background-color: var(--colorv22);
  color: var(--colorv02);
}

.all-cont {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.taller-form {
  background-color: var(--colorv25);
  border-radius: 0.25rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  min-width: 700px;
  padding: 1rem;
}

.form-label {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-form {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: end;
}

.fecha{
  background: var(--colorv00);
  font-size: 1.5rem;
  text-align: center;
  color: var(--colorv23);
  width: 50%;
}

.almohadilla{
  font-size: 1.5rem;
  color: var(--colorv23);
  width: 50%;
}

.list{
  list-style: disc;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--colorv23);
}
