<div class="card__config">

    {% for eje in vehiculo.ejes %}
      <!--Si el eje es de 2-->
        {% if eje|length == 2 %}
        
            <!--Tire-->
            <div class="config__row double-shaft">
              <div 
                class="tire" 
                data-id="{{ eje.0.llanta.id }}" 
                data-pos="{{ eje.0.llanta.posicion }}"
                data-dimension="{{ eje.0.llanta.producto.dimension }}"
              >

                <span class="tag top {{eje.0.color_presion}}">
                  {{eje.0.llanta.presion_actual}}
                </span>

                <div class="tag__middle">
                  <div class="pos {{eje.0.color_middle}}">
                    {{ eje.0.llanta.posicion }}
                  </div>
                </div>

                <div class="icon-llanta-outline"></div>
                <span class="tag bottom {{eje.0.color_profundidad}}">
                  {{eje.0.llanta.min_profundidad}}
                </span>
              </div>

              <div class="shaft__wrapper">
                <span>{{eje.0.min_presion}}-{{eje.0.max_presion}}</span>
                <div class="shaft xl"></div>
                <span>{{eje.0.llanta.producto.dimension}}</span>
              </div>

              <div 
                class="tire" 
                data-id="{{ eje.1.llanta.id }}"
                data-pos="{{ eje.1.llanta.posicion }}"
                data-dimension="{{ eje.1.llanta.producto.dimension }}"
              >
                <span class="tag top {{eje.1.color_presion}}">
                  {{eje.1.llanta.presion_actual}}
                </span>

                <div class="tag__middle">
                  <div class="pos {{eje.1.color_middle}}">
                    {{ eje.1.llanta.posicion }}
                  </div>
                </div>

                <div class="icon-llanta-outline"></div>
                <span class="tag bottom {{eje.1.color_profundidad}}">
                  {{eje.1.llanta.min_profundidad}}
                </span>
              </div>
            </div>
    
        {% endif %}
      
    <!--Si el eje es de 4-->
        {% if eje|length == 4 %}
        <!--Double Tire-->
            <div class="config__row">
              <div class="double__tire">
                <div 
                  class="tire" 
                  data-id="{{ eje.0.llanta.id }}"
                  data-pos="{{ eje.0.llanta.posicion }}"
                  data-dimension="{{ eje.0.llanta.producto.dimension }}"
                >
                  <span class="tag top {{eje.0.color_presion}}">
                    {{eje.0.llanta.presion_actual}}
                  </span>

                  <div class="tag__middle">
                    <div class="pos {{eje.0.color_middle}}">
                      {{ eje.0.llanta.posicion }}
                    </div>
                  </div>

                  <div class="icon-llanta-outline"></div>
                  <span class="tag bottom {{eje.0.color_profundidad}}">
                    {{eje.0.llanta.min_profundidad}}
                  </span>
                </div>

                <div 
                  class="tire"
                  data-id="{{ eje.1.llanta.id }}"
                  data-pos="{{ eje.1.llanta.posicion }}"
                  data-dimension="{{ eje.1.llanta.producto.dimension }}"
                > 
                  <span class="tag top {{eje.1.color_presion}}">
                    {{eje.1.llanta.presion_actual}}
                  </span>

                  <div class="tag__middle">
                    <div class="pos {{eje.1.color_middle}}">
                      {{ eje.1.llanta.posicion }}
                    </div>
                  </div>

                  <div class="icon-llanta-outline"></div>
                  <span class="tag bottom {{eje.1.color_profundidad}}">
                    {{eje.1.llanta.min_profundidad}}
                  </span>
                </div>
              </div>

              <div class="shaft__wrapper">
                <span>{{eje.0.min_presion}}-{{eje.0.max_presion}}</span>
                <div class="shaft"></div>
                <span>{{eje.0.llanta.producto.dimension}}</span>
              </div>

              <div class="double__tire">
                <div 
                  class="tire" 
                  data-id="{{ eje.2.llanta.id }}"
                  data-pos="{{ eje.2.llanta.posicion }}"
                  data-dimension="{{ eje.2.llanta.producto.dimension }}"
                >              
                  <span class="tag top {{eje.2.color_presion}}">
                    {{eje.2.llanta.presion_actual}}
                  </span>

                  <div class="tag__middle">
                    <div class="pos {{eje.2.color_middle}}">
                      {{ eje.2.llanta.posicion }}
                    </div>
                  </div>

                  <div class="icon-llanta-outline"></div>
                  <span class="tag bottom {{eje.2.color_profundidad}}">
                    {{eje.2.llanta.min_profundidad}}
                  </span>
                </div>
                <div 
                  class="tire"
                  data-id="{{ eje.3.llanta.id }}"
                  data-pos="{{ eje.3.llanta.posicion }}"
                  data-dimension="{{ eje.3.llanta.producto.dimension }}"
                >                
                  <span class="tag top {{eje.3.color_presion}}">
                    {{eje.3.llanta.presion_actual}}
                  </span>

                  <div class="tag__middle">
                    <div class="pos {{eje.3.color_middle}}">
                      {{ eje.3.llanta.posicion }}
                    </div>
                  </div>

                  <div class="icon-llanta-outline"></div>
                  <span class="tag bottom {{eje.3.color_profundidad}}">
                    {{eje.3.llanta.min_profundidad}}
                  </span>
                </div>
              </div>
            </div>
        {% endif %}
        {% endfor %}
</div>