<div class="modal__bg" data-modal="{{ llanta.llanta.id }}">
  <form class="modal__form">
    <nav class="flex-row">
      <button class="btn btn-taller">Guardar</button>
      <button type="button" role="menu" class="btn close-modal">Cerrar</button>
    </nav>

    <header class="flex-row">
      <label for="sr-{{ llanta.llanta.id }}" class="label-check">
        <input
          type="radio"
          name="tipoServicio"
          id="sr-{{ llanta.llanta.id }}"
          value="sr"
          checked
          data-nav="{{ llanta.llanta.id }}"
        />
        <div class="btn-filter head">Servicios</div>
      </label>
      <label for="desmontaje-{{ llanta.llanta.id }}" class="label-check">
        <input
          type="radio"
          name="tipoServicio"
          id="desmontaje-{{ llanta.llanta.id }}"
          value="desmontaje"
          data-nav="{{ llanta.llanta.id }}"
        />
        <div class="btn-filter head">Montaje</div>
      </label>
    </header>

    <div
      class="form__view visible"
      style="display: block"
      data-view="{{ llanta.llanta.id }}"
    >
      <legend>Servicios</legend>
      <nav class="form__services">
        <label for="inflar-{{ llanta.llanta.id }}" class="label-check">
          <input type="hidden" name="inflar" value="" />
          <input
            type="checkbox"
            name="inflar"
            id="inflar-{{ llanta.llanta.id }}"
          />
          <div class="btn-filter">Inflar</div>
        </label>
        <label for="balancear-{{ llanta.llanta.id }}" class="label-check">
          <input type="hidden" name="balancear" value="" />
          <input
            type="checkbox"
            name="balancear"
            id="balancear-{{ llanta.llanta.id }}"
          />
          <div class="btn-filter">Balancear</div>
        </label>
        <label for="reparar-{{ llanta.llanta.id }}" class="label-check">
          <input type="hidden" name="reparar" value="" />
          <input
            type="checkbox"
            name="reparar"
            id="reparar-{{ llanta.llanta.id }}"
          />
          <div class="btn-filter">Reparar</div>
        </label>
        <label for="valvula-{{ llanta.llanta.id }}" class="label-check">
          <input type="hidden" name="valvula" value="" />
          <input
            type="checkbox"
            name="valvula"
            id="valvula-{{ llanta.llanta.id }}"
          />
          <div class="btn-filter">Reparación de valvula</div>
        </label>
        <label for="costado-{{ llanta.llanta.id }}" class="label-check">
          <input type="hidden" name="costado" value="" />
          <input
            type="checkbox"
            name="costado"
            id="costado-{{ llanta.llanta.id }}"
          />
          <div class="btn-filter">Reparación de costado</div>
        </label>
      </nav>

      <section class="form__view-body">
        <fieldset style="margin: 0; padding: 0; border: none">
          <legend>Rotar</legend>

          <div class="flex-row">
            <label for="no-{{ llanta.llanta.id }}" class="label-check">
              <input
                type="radio"
                name="rotar"
                id="no-{{ llanta.llanta.id }}"
                data-radioId="{{ llanta.llanta.id }}"
                value="no"
                checked
              />
              <div class="btn-filter rotar">No rotar</div>
            </label>
            <label for="t-vehicle-{{ llanta.llanta.id }}" data-="" class="label-check">
              <input
                type="radio"
                name="rotar"
                id="t-vehicle-{{ llanta.llanta.id }}"
                data-radioId="{{ llanta.llanta.id }}"
                value="mismo"
              />
              <div class="btn-filter rotar">Vehiculo</div>
            </label>
            <label for="otros-{{ llanta.llanta.id }}" class="label-check">
              <input
                type="radio"
                name="rotar"
                id="otros-{{ llanta.llanta.id }}"
                data-radioId="{{ llanta.llanta.id }}"
                value="otro"
              />
              <div class="btn-filter rotar">Otro vehículo</div>
            </label>
          </div>

          <div style="margin: 1rem 0;">

            <div style="display: none" data-rotar-id="{{ llanta.llanta.id }}">
              <label for="origen-vehiculo-{{ llanta.llanta.id }}">
                Vehiculo origen
                <select
                  name="otroVehiculo"
                  id="origen-vehiculo-{{ llanta.llanta.id }}"
                >
                  <option value="">Elige un vehículo...</option>
                </select>
              </label>

              <label for="origen-llanta-{{ llanta.llanta.id }}">
                Llanta de origen
                <select
                  name="llantaOrigen"
                  id="origen-llanta-{{ llanta.llanta.id }}"
                >
                  <option value="">Elige una llanta...</option>
                </select>
              </label>
            </div>

            {% include 'taller/config-modal.html' %}
          </div>
        </fieldset>
      </section>
    </div>

    <div
      class="form__view"
      style="display: none"
      data-view="{{ llanta.llanta.id }}"
    >
      <label for="">Stock origen</label>
      <select name="stock" id="">
        <option value="">Seleccione un stock...</option>
        <option value="nueva">Nueva</option>
        <option value="renovada">Renovada</option>
        <option value="servicio">Servicio</option>
      </select>

      <label for="">Llanta</label>
      <select name="nuevaLlanta" id="">
        <option value="">Seleccione un stock...</option>
      </select>

      <label for="">Razón de desmontaje</label>
      <select name="razon" id="">
        <option value="">Seleccione una razón...</option>
        <option value="razon 1">Razón 1</option>
        <option value="razon 2">Razón 2</option>
        <option value="razon 3">Razón 3</option>
        <option value="razon 4">Razón 4</option>
        <option value="razon 5">Razón 5</option>
      </select>

      <label for="">Almacen de retiro</label>
      <select name="almacen_desmontaje" id="">
        <option value="">Seleccione una razón...</option>
        <option value="Servicio">Servicio</option>
        <option value="Antes de Renovar">Antes de renovar</option>
        <option value="Antes de Desechar">Antes de desechar</option>
      </select>

      <label for="">Taller</label>
      <select name="taller_desmontaje" id="">
        <option value="">Seleccione una razón...</option>
        {% for taller in talleres %}
        <option value="{{taller.id}}">{{taller.nombre}}</option>
        {% endfor %}
      </select>
    </div>

    <input type="hidden" name="llantaId" value="{{ llanta.llanta.id }}" />
  </form>
</div>
