<article class="block">
  <div class="forms__container">    
    <div class="form__container">
      <div class="relative">
        <div class="absolute">
          <div class="flex-row" style="justify-content: space-between;">
            <h3>Llanta</h3>
            <button class="btn modal" type="button">
              <i class="icon-truck"></i>
            </button>
          </div>
      {% for eje in ejes %}
        {% for ej in eje %}
          <div class="form__wrapper" data-item-id="{{ej.0.id}}">
            <!-- Start input -->
            {% if ej.0.ultima_inspeccion == None %}
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="llanta"
                  name="llanta"
                  autocomplete="off"
                  list="llanta"
                  required
                  value = "{{ej.0.numero_economico}}"
                  required
                  
                />
                <label for="llanta" class="form__label">
                  Llanta
                </label>

                <div class="alert__error">
                  El valor no se encuentra en la lista de productos, por favor seleccione una opción valida.
                </div>
                <div class="alert__warn">
                  El campo no puede estar vacio 
                </div>
                
                <datalist id="llanta">
                  
                  {% for i in llantas_actuales %}
                
                      <option value="{{i}}">{{i}}</option>

                  {% endfor %}
          
                </datalist>
                
              </div>
            {% else %}
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="llanta"
                  name="llanta"
                  autocomplete="off"
                  list="llanta"
                  required
                  value = "{{ej.0.numero_economico}}"
                  readonly
                />

                <label for="llanta" class="form__label">
                  Llanta
                </label>
              </div>

            {% endif %}
            <!-- End input -->


            {% if ej.0.ultima_inspeccion == None %}

              <!-- Start input -->
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="producto"
                  name="producto"
                  autocomplete="off"
                  list="producto"
                  value = "{{ej.0.producto}}"
                  required
                />
                <label for="producto" class="form__label">
                  Producto
                </label>

                <div class="alert__error">
                  El valor no se encuentra en la lista de productos, por favor seleccione una opción valida.
                </div>
                <div class="alert__warn">
                  El campo no puede estar vacio 
                </div>
                <datalist id="producto">
                  
                  {% for producto in productos %}
                
                      <option value="{{producto}}">{{producto}}</option>

                  {% endfor %}
          
                </datalist>
              </div>
              <!-- End input -->

            {% else %}

              <!-- Start input -->
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="producto"
                  name="producto"
                  autocomplete="off"
                  value = "{{ej.0.producto}}"
                  required
                  readonly
                />
                <label for="producto" class="form__label">
                  Producto
                </label>
              </div>
              <!-- End input -->

            {% endif %}


            {% if ej.0.ultima_inspeccion == None %}
              <!-- Start input -->
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="vida"
                  required
                  name="vida"
                  autocomplete="off"
                  list="vida"
                  value = {{ej.0.vida}}
                />
                <label for="vida" class="form__label">
                  Vida
                </label>

                <datalist id="vida">
                
                  <option value="Nueva">Nueva</option>
                  <option value="1R">1R</option>
                  <option value="2R">2R</option>
                  <option value="3R">3R</option>
                  <option value="4R">4R</option>
                  <option value="5R">5R</option>

                </datalist>
              </div>
              <!-- End input -->
            {% else %}
              <!-- Start input -->
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="vida"
                  required
                  name="vida"
                  autocomplete="off"
                  list="vida"
                  value = {{ej.0.vida}}
                  readonly
                />
                <!-- readonly -->
                <label for="vida" class="form__label">
                  Vida
                </label>

                <datalist id="vida">
                
                  <option value="Nueva">Nueva</option>
                  <option value="1R">1R</option>
                  <option value="2R">2R</option>
                  <option value="3R">3R</option>
                  <option value="4R">4R</option>
                  <option value="5R">5R</option>

                </datalist>
              </div>
              <!-- End input -->
            {% endif %}
            <h3>Profundidades</h3>

            <div class="form__prof" data-punto-retiro="{{ ej.6.punto_retiro }}" data-profundidad-id="{{ ej.0.id }}">

              <div class="form__group field">
                <input
                  class="form__field"
                  type="number"
                  max = {{ ej.6.min_izquierda }}
                  min="0"
                  step="any"
                  placeholder="Profundidad izquierda"
                  name="profundidad_izquierda"
                  autocomplete="off"
                />
                <label for="min_profundidad" class="form__label">
                  {{ej.0.profundidad_izquierda}}(Izquierda)
                </label>
              </div>

              <div class="form__group field">
                <input
                  class="form__field"
                  type="number"
                  min="0"
                  max = {{ ej.6.min_central }}
                  step="any"
                  placeholder="Profundidad central"
                  name="profundidad_central"
                  autocomplete="off" 
                />
                <label for="min_profundidad" class="form__label">
                  {{ej.0.profundidad_central}}(Central)
                </label>
              </div>
            
              <div class="form__group field">
                <input
                  class="form__field"
                  type="number"
                  min="0"
                  max = {{ ej.6.min_derecha }}
                  step="any"
                  placeholder="Profundidad derecha"
                  name="profundidad_derecha"
                  autocomplete="off"                  
                />
                <label for="min_profundidad" class="form__label">
                  {{ej.0.profundidad_derecha}} (Derecha)
                </label>
              </div>
              
            </div>

            <!-- Start input -->
            
            <div class="form__group field">
              <input
                class="form__field"
                type="number"
                placeholder="Presion"
                name="presion"
                autocomplete="off"
                min="0"
                data-input-id="{{ ej.0.id }}"
                data-presion-min="{{ ej.6.presion_minima}}" 
                data-presion-max="{{ ej.6.presion_maxima}}" 
              />
              <label for="presion" class="form__label">
                Presión({{ej.0.presion_actual}})
              </label>
            </div>
            <!-- End input -->

            <details>
              <summary class="drop__btn">Observaciones manuales</summary>

              <ul class="drop__content">

                <!-- <li>
                  <input type="search" class="drop-input" placeholder="Buscar...">
                </li> -->

                <!-- FOR DJANGO -->
                {% for observacion in observaciones_manuales %}
                  <li class="search-item">
                    <label for="{{observacion.observacion}}-{{ ej.0.id }}" class="input-check">
                      <i class="{{observacion.icono}}"></i>
                      {{observacion.observacion}}
                      <input 
                        type="checkbox" 
                        name="manual-observation-{{ ej.0.id }}" 
                        value="{{observacion.observacion}}" 
                        id="{{observacion.observacion}}-{{ ej.0.id }}" 
                        data-check-id="{{ ej.0.id }}" 
                      />
                      <span class="checkmark"></span>
                    </label>
                  </li>
                {% endfor %}
                <!-- ENDFOR -->

              </ul>
            </details>

            <h3 class="text-center">Observaciones</h3>

            <div class="observations__container" data-container-id="{{ ej.0.id }}">
              
              {% for observacion in observaciones_manuales %}
              <div data-icon-type="{{observacion.observacion}}" title="{{ observacion.observacion }}">
                <i class="{{observacion.icono}}"></i>
              </div>
              {% endfor %}

              <!-- INSPECCIONES AUTOMATICAS -->

              {% for observacion in observaciones_automaticas %}
                <div 
                  {% if observacion.observacion == "Baja presión" or observacion.observacion == "Alta presion" %}
                    data-icon-presion="{{observacion.observacion}}"
                  {% elif observacion.observacion == "Desdualización" or observacion.observacion == "Diferencia de presión entre los duales" %}
                    data-icon-dual="{{observacion.observacion}}"
                  {% elif observacion.observacion == "En punto de retiro" %}
                    data-icon-retiro="{{observacion.observacion}}"
                  {% elif observacion.observacion == "Baja profundidad" %}
                    data-icon-profundidad="{{observacion.observacion}}"
                  {% else %}
                    data-icon-desgaste="{{observacion.observacion}}"
                  {% endif %}
                  title="{{ observacion.observacion }}"
                >
                  <i class="{{observacion.icono}}"></i>
                </div>
              {% endfor %}

            </div>

            <!-- End input -->    

            <input id="ids" name="ids" type="text" value={{ej.0.id}} style="display: none">
            <input type="hidden" name="id" value="">
            
          </div>
          {% endfor %}
        {% endfor %}
        {% csrf_token %}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-info">Guardar</button>
  </div>
</article>
