{% if rechazo.id %}
  <form action="{% url 'dashboards:catalogoRechazosEdit' rechazo.id %}" id="form" class="container" method="POST">
{% else %}
  <form action="{% url 'dashboards:catalogoRechazos' %}" id="form" class="container" method="POST">
{% endif %}
  {% csrf_token %}
  <div class="container-fluid">
    <aside class="form-aeto">

      <div class="form__group field">
        <input
          type="hidden"
          name="id"
          {% if rechazo.id %}value="{{rechazo.id}}"{% endif %}
        />
        <input
          class="form__field"
          type="text"
          placeholder="compania"
          name="compania"
          list="compania"
          {% if rechazo.compania %}value="{{rechazo.compania}}"{% endif %}
          autocomplete="off"
          required
        />
        <label for="compania" class="form__label">
          Compania
        </label>
        <datalist id="compania">
          {% for compania in companias %}
            <option value="{{compania}}">{{compania}}</option>
          {% endfor %}
        </datalist>
      </div>

      <!-- Start input -->
      <div class="form__group field">
        <input
          class="form__field"
          type="text"
          placeholder="razon"
          name="razon"
          {% if rechazo.razon %}value="{{rechazo.razon}}"{% endif %}
          autocomplete="off"
          required
        />
        <label for="razon" class="form__label">
          Razón
        </label>
      </div>
      <!-- End input -->

    </aside>
  </div>

  <nav class="btn-group">
    {% if rechazo.id %}
    
    <button class="btn btn-success">
      <span class="icon-checkmark"></span>
    </button>

    <a href="{% url 'dashboards:catalogoRechazos' %}" class="btn btn-danger">
      <span class="icon-cross"></span>
    </a>

    {% else %}
    <button class="btn btn-success">
      <span class="icon-plus6"></span>
    </button>
    <a href="" class="btn btn-download">
      <span class="icon-download"></span>
    </a>
    {% endif %}
  </nav>
</form>