<div class="filter__bg">
    <form action="" class="form__filter" method='POST'>
        {% csrf_token %}

        <header class="filter__header">
            <h2>Filtros</h2>
    
            <nav class="flex-row">
            <button type="button" role="button" class="btn btn-info">
                <span class="icon-trash"></span>
            </button>
            <button type="button" role="button" class="btn btn-danger" id="close-filter">
                <span class="icon-cross"></span>
            </button>
            </nav>
        </header>

      <div class="filter__body">
        <div class="filter__row">
          <div class="filter__row-header">
            <h3>PRESIONES</h3>
          </div>
  
          <div class="filter__nav">
            <label for="baja-presion" class="label-check">
              <input type="checkbox" name="baja-presion" id="baja-presion">
              <div class="btn-filter">
                Baja presión
              </div>
            </label>
            <label for="alta-presion" class="label-check">
              <input type="checkbox" name="alta-presion" id="alta-presion">
              <div class="btn-filter">
                Alta presión
              </div>
            </label>
          </div>
        </div>
        
        <div class="filter__row">
          <div class="filter__row-header">
            <h3>PROFUNDIDADES</h3>
          </div>
  
          <div class="filter__nav">
            <label for="p-libre" class="label-check">
              <input type="checkbox" name="profundidad-baja" id="profundidad-baja">
              <div class="btn-filter">
                Baja
              </div>
            </label>

            <label for="p-direccion" class="label-check">
              <input type="checkbox" name="profundidad-punto-retiro" id="profundidad-punto-retiro">
              <div class="btn-filter">
                En punto de retiro
              </div>
            </label>

            <label for="p-traccion" class="label-check">
              <input type="checkbox" name="profundidad-desgaste-irregular" id="profundidad-desgaste-irregular">
              <div class="btn-filter">
                Desgaste irregular
              </div>
            </label>

          </div>
        </div>
        <div class="filter__row">
          <div class="filter__row-header">
            <h3>ROTACIÓN</h3>
          </div>
  
          <div class="filter__nav">
            <label for="r-libre" class="label-check">
              <input type="checkbox" name="r-libre" id="r-libre">
              <div class="btn-filter">
                Libre
              </div>
            </label>

            <label for="r-direccion" class="label-check">
              <input type="checkbox" name="r-direccion" id="r-direccion">
              <div class="btn-filter">
                Direccion
              </div>
            </label>

            <label for="r-traccion" class="label-check">
              <input type="checkbox" name="r-traccion" id="r-traccion">
              <div class="btn-filter">
                Tracción
              </div>
            </label>

            <label for="r-retractil" class="label-check">
              <input type="checkbox" name="r-retractil" id="r-retractil">
              <div class="btn-filter">
                Retractil
              </div>
            </label>
          </div>
        </div>
        <div class="filter__row">
          <div class="filter__row-header">
            <h3>DUALIZACIÓN</h3>
          </div>
  
          <div class="filter__nav">
            <label for="d-libre" class="label-check">
              <input type="checkbox" name="con-dualizacion" id="con-dualizacion">
              <div class="btn-filter">
                Si
              </div>
            </label>

            <label for="d-direccion" class="label-check">
              <input type="checkbox" name="sin-dualizacion" id="in-dualizacion">
              <div class="btn-filter">
                No
              </div>
            </label>

          </div>
        </div>
      </div>

      <div class="filter__footer">
        <button type="submit">
          Filtrar
        </button>
      </div>
  
    </form>
  </div>