{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/almacen.css' %}" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>AETO WEB</title>
{% endblock head %}

{% block content %}

<div class="all-cont">
  <header class="head-cont">
    <h1>Almacenes</h1>

    <button class="btn btn-config flex-center" id="open-search" role="search">
      Buscar
      <i class="bx bx-search"></i>
    </button>
  </header>

  <div class="container">
    <a class="a-card" href="{% url 'dashboards:nueva' %}">
      <div class="card">
        <div class="card_title">
          <h2>
            <span class="card_title_icon icon-new_releases"></span>
            <span class="card_title_icon icon-tire"></span>
            Nueva
          </h2>
        </div>
        <h2 class="card_number" id="nueva"></h2>
      </div>
    </a>
    <a class="a-card" href="{% url 'dashboards:antesRenovar' %}">
      <div class="card">
        <div class="card_title">
          <h2>
            <span class="card_title_icon icon-reply2"></span>
            Antes de renovar
          </h2>
        </div>
        <h2 class="card_number" id="antes_de_renovar"></h2>
      </div>
    </a>
    <a class="a-card" href="{% url 'dashboards:conRenovador' %}">
      <div class="card">
        <div class="card_title">
          <h2>
            <span
              class="card_title_icon icon-published_with_changes"
            ></span>
            CON RENOVADOR
          </h2>
        </div>
        <h2 class="card_number" id="con_renovador"></h2>
      </div>
    </a>
    <a class="a-card" href="{% url 'dashboards:renovada' %}">
      <div class="card">
        <div class="card_title">
          <h2>
            <span class="card_title_icon icon-loop"></span>
            RENOVADA
          </h2>
        </div>
        <h2 class="card_number" id="renovada"></h2>
      </div>
    </a>
    <a class="a-card" href="{% url 'dashboards:antesDesechar' %}">
      <div class="card">
        <div class="card_title">
          <h2>
            <span class="card_title_icon icon-spin1"></span>
            ANTES DE DESECHAR
          </h2>
        </div>
        <h2 class="card_number" id="antes_de_desechar"></h2>
      </div>
    </a>
    <a class="a-card" href="{% url 'dashboards:desechoFinal' %}">
      <div class="card">
        <div class="card_title">
          <h2>
            <span class="card_title_icon icon-flag"></span>
            DESECHO FINAL
          </h2>
        </div>
        <h2 class="card_number" id="desecho_final"></h2>
      </div>
    </a>
    <a class="a-card" href="{% url 'dashboards:servicio' %}">
      <div class="card">
        <div class="card_title">
          <h2>
            <span class="card_title_icon icon-tools1"></span>
            SERVICIO
          </h2>
        </div>
        <h2 class="card_number" id="servicio"></h2>
      </div>
    </a>
    <a class="a-card" href="{% url 'dashboards:rodante' %}">
      <div class="card">
        <div class="card_title">
          <h2>
            <span class="card_title_icon icon-tire"></span>
            RODANTE
          </h2>
        </div>
        <h2 class="card_number" id="rodante"></h2>
      </div>
    </a>
  </div>

  <div class="operaciones">
    <div class="operacion">
      <h2 class="op__title">Operaciones</h2>
      <a href="{% url 'dashboards:formordennueva' %}">
        <figure class="op">
          <span class="icon-clipboard4"></span>
          <figcaption class="op_title">
            Orden de llanta nueva
          </figcaption>
        </figure>
      </a>

      <a href="{% url 'dashboards:historialTransacciones' %}">
        <figure class="op">
          <span class="icon-history2"></span>
          <figcaption class="op_title">Historial de transacciones</figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>

<div class="search__container">
  <form class="search__form">
    <header class="search__header">
      <div class="drop-search">
        <input type="search" name="eco" id="search" class="drop-input" placeholder="Buscar llanta..." autocomplete="off">
        <i class="bx bx-search"></i>
      </div>

      <button type="button" class="btn btn-cancel" id="close-search">
        Cancel
      </button>
    </header>

    <nav class="flex-row">
      <button class="btn btn-prev" type="button" disabled>Anterior</button>
      <button class="btn btn-next" type="button" disabled>Siguiente</button>
    </nav>

    <section class="search__list">
      <p>Sin busquedas</p>
    </section>
    <div class="icon-spinner2" id="loader"></div>

    <footer class="search__footer">
      <div class="footer__item">
        <small>
          Esc
        </small>
        <strong>Cerrar</strong>
      </div>
    </footer>

  </form>
</div>

<template id="tire-template">
  <a href="">
    <figure class="tire__card">
      <span class="icon-llanta-outline"></span>

      <figcaption class="tire__body">
        <div class="card__row">
          <h4>Número económico: <span class="economico"></span></h4>
        </div>
        <div class="card__row">
          <span class="producto"></span>
        </div>
        <div class="card__row">
          <span class="fecha"></span>
        </div>
      </figcaption>
    </figure>
  </a>
</template>

<script src="{% static 'js/almacen/tire-search/getTires.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', (e) => {
    searchView();

    document.querySelectorAll('.card_number').forEach(card => {
      card.innerHTML += `<div class="icon-spinner2"></div>`
    });

    fetch(`${ window.location.origin }/api/numtirestock`)
      .then(resp => resp.json())
      .then(({ result }) => {
        result.forEach(({ almacen, total }) => {
          document.querySelectorAll('.card_number').forEach(card => {
            if (card.id === almacen) {
              card.innerHTML = `<span>${ total }</span>`
            }
          });
        })
      })
      .catch(error => console.error(error))
  });

  const searchView = () => {
    const searchBtn = document.getElementById('open-search'),
          closeBtn = document.getElementById('close-search'),
          searchContainer = document.querySelector('.search__container'),
          searchForm = document.querySelector('.search__form');

    document.addEventListener('click', (e) => {
      if (e.target === searchBtn) {
        searchContainer.classList.add('active');
      }

      if (e.target === closeBtn) {
        searchContainer.classList.remove('active');
      }
    });
    
    document.addEventListener('keyup', (e) => {
      if (e.keyCode === 27) {
        if (searchContainer.classList.contains('active')) {
          searchContainer.classList.remove('active');
        }
      }
    });

  };

</script>
{% endblock content %}
