{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/nueva.css' %}" />
  <title>Con renovador</title>
{% endblock %}

{% block content %}
<form class="main__container animate__animated animate__fadeIn">
  <header class="head-cont">
    <h1>Con renovador</h1>

    <div class="drop-search">
      <input type="search" name="" id="economico" placeholder="Buscar llanta..." class="drop-input">
      <i class="bx bx-search"></i>
    </div>

    <nav class="flex-row">
      <a href="{% url 'dashboards:procesoRenovado' %}" class="btn btn-download">
        <span class="icon-cog5"></span>
      </a>
      <button class="btn btn-download" type="button" id="filter-btn">
        <span class="icon-filter"></span>
      </button>
    </nav>
  </header>

  <div class="cards__container"></div>
</form>

{% include 'filter.html' %}

<template id="card-template">
  <label for="" class="tire-input">
    <input type="checkbox" name="id" value="" id="" class="check-tire">
    <div class="card__wrapper animate__animated animate__fadeIn" id="">
      <h3 class="economic"></h3>
          
      <div class="card__content">
        <div class="card__img">
          <a class="tireDecoration" href="">
            <span class="icon-tire2"></span>
          </a>
        </div>
          
        <div class="card__body">
          <div class="tire__status"></div>
          <div class="card__body-label">
            <h4 class="card-title">Profundidad:</h4>
            <p>
              <em class="profundidad"></em>
            </p>
          </div>
          <div class="card__body-label">
            <h4 class="card-title">Producto:</h4>
            <p>
              <em class="product"></em>
            </p>
          </div>
          <div class="card__body-label">
            <h4 class="card-title">Fecha:</h4>
            <p class="date"></p>
          </div>
        </div>
      </div>
  
    </div>
  </label>
</template>

<script src="{% static './js/almacen/index.js' %}"></script>
<script src="{% static './js/almacen/con-renovador/index.js' %}" type="module"></script>
{% endblock %}
