{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/nueva.css' %}" />
  <title>Desecho final</title>
{% endblock %}

{% block content %}
<form class="main__container animate__animated animate__fadeIn">
  <header class="head-cont">
    <h1>Desecho final</h1>
    
    <div class="drop-search">
      <input type="search" name="" id="" placeholder="Buscar llanta..." class="drop-input">
      <i class="bx bx-search"></i>
    </div>

    <nav class="flex-row">
      <button class="btn btn-download">
        <span class="icon-file-text-o"></span>
      </button>
      <button class="btn btn-download" type="button" id="filter-btn">
        <span class="icon-filter"></span>
      </button>
    </nav>
  </header>
  
  <div class="cards__container"></div>
</form>

{% include 'filter.html' %}

<script src="{% static './js/almacen/index.js' %}"></script>
{% endblock %}
