<div class="filter__container">
  <form action="" class="filter__content">
    <button type="button" class="btn btn-danger" id="close-modal">
      <span class="icon-cross"></span>
    </button>

    <h2>Filtros</h2>
    
    <div>
      <label for="producto">
        <h3>
          Producto
        </h3>
      </label>
      <select 
        name="producto" 
        id="producto"
        class="select-control"
      ></select>
    </div>

    <h3>Profundidad</h3>

    <div class="form__wrapper">
      <div class="form__group field">
        <input
          class="form__field"
          type="number"
          placeholder="Min"
          name="min_prof"
          autocomplete="off"
          min="1"
          max="14"
        />
        <label for="" class="form__label">
          Min
        </label>
      </div>

      <div class="form__group field">
        <input
          class="form__field"
          type="number"
          placeholder="Max"
          name="max_prof"
          autocomplete="off"
          min="2"
          max="15"
        />
        <label for="" class="form__label">
          Max
        </label>
      </div>
    </div>

    <h3>Fecha</h3>

    <div class="form__wrapper">
      <div class="form__group field">
        <input
          class="form__field"
          type="date"
          placeholder="date-min"
          name="start_date"
          autocomplete="off"
        />
        <label for="" class="form__label">
          Min
        </label>
      </div>

      <div class="form__group field">
        <input
          class="form__field"
          type="date"
          placeholder="date-max"
          name="end_date"
          autocomplete="off"
        />
        <label for="" class="form__label">
          Max
        </label>
      </div>
    </div>

    <button 
      type="button" 
      id="remove-filters"
      class="btn btn-filter">
      Limpiar filtros
    </button>

  </form>
</div>
