<!DOCTYPE html>
<html lang="es">
<head>
	{% load static %}
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'css/webservices.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/icomoon/style.css' %}"
    />
</head>
	<body>
		<header>
			<h2 class="titulo">WebService Principal</h2>
		</header>
		<main>
			<p>Lista de Vehículos</p>
			<nav>
				{% for vehiculo in vehiculos %}
				<li>
					<a href="{% url 'dashboards:formulario' vehiculo.id %}">
						{{vehiculo.numero_economico}}
					</a>
				</li>
				{% endfor %}
			</nav>
		</main>
	</body>
</html>