{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/ordenes.css' %}">
  <title>Historial de transacciones</title>
{% endblock head %}

{% block content %}

  <div class="main__container">

    <header>

      <h1>Historial de transacciones</h1>

      <form class="filter__nav">
        <div class="drop-search">
          <input type="search" name="folio" id="folio" placeholder="Buscar folio..." class="drop-input">
          <i class="bx bx-search"></i>
        </div>

        <div class="drop-search">
          <input type="date" name="start_date" id="start_date" placeholder="Desde..." class="drop-input">
        </div>
        
        <div class="drop-search">
          <input type="date" name="end_date" id="end_date" placeholder="Hasta..." class="drop-input">
        </div>

        <button type="submit">Aplicar</button>
      </form>

    </header>

    <div class="main__content">

      <div class="table__container">
        <h2>Historial</h2>

        <nav class="flex-row">
          <button class="btn prev">
            Anterior
          </button>
          <button class="btn next">
            Siguiente
          </button>
        </nav>

        <table class="orders__table">
          <thead>
            <tr>
              <th>Folio</th>
              <th>Fecha</th>
              <th>Operación</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="created-orders"></tbody>
        </table>
      </div>
    </div>

  </div>

  <template id="order-template">
    <tr>
      <td class="folio"></td>
      <td class="fecha"></td>
      <td class="accion"></td>
      <td>
        <a href="" class="btn btn-watch">Ver</a>
      </td>
    </tr>
  </template>

  <script src="{% static 'js/historial/index.js' %}" type="module"></script>
  
{% endblock content %}