{% extends 'base.html' %} 

{% block head %} 
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  <script src="{% static 'js/contexto/index.js' %}" defer></script>
  <title>Home</title>
{% endblock %} 

{% block content %}

<main class="main__container">
  {% if compania == None %}
  
  <form class="context__form" method='POST'>
    {% csrf_token %}
    <div class="context__wrapper">
      <legend>Seleccionar compañia</legend>

      <label for="company">
        Compañias
      </label>

      <select name="company" id="company" required>
        <option value="" selected>Seleccione una compañia</option>
      </select>

      <nav>
        <button type="button" class="btn btn-next">Siguiente</button>
      </nav>
    </div>

    <div class="context__wrapper">
      <legend>Seleccionar sucursales</legend>

      <div class="context__options"></div>

      <nav>
        <button type="button" class="btn btn-prev">Anterior</button>
        <button type="button" class="btn btn-next">Siguiente</button>
      </nav>
    </div>

    <div class="context__wrapper">
      <legend>Seleccionar aplicación</legend>

      <div class="context__options"></div>

      <nav>
        <button type="button" class="btn btn-prev">Anterior</button>
        <button type="button" class="btn btn-next">Siguiente</button>
      </nav>
    </div>

    <div class="context__wrapper">
      <legend>Seleccionar taller</legend>

      <div class="context__options"></div>

      <nav>
        <button type="button" class="btn btn-prev">Anterior</button>
        <button type="button" class="btn btn-next">Siguiente</button>
      </nav>
    </div>

    <div class="context__wrapper">
      <legend>¿Esta seguro?</legend>

      <div class="context__options"></div>

      <nav>
        <button type="button" class="btn btn-prev">Regresar</button>
        <button type="submit" class="btn btn-next">Enviar</button>
      </nav>
    </div>
    
  </form>
  {% else %}
  
  <!-- CONTEXTO -->
  {% include './contextReport.html' %}

  {% endif %}
</main>

<template id="check-temp">
  <input type="checkbox" value="" name="" id="">
  <label for=""></label>
</template>

<script src="{% static 'js/contexto/getData.js' %}" defer></script>

{% endblock %}
