{% extends 'base.html' %} {% block head %} {%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/hub.css' %}" />
<meta charset="utf-8" />
<title>Hub</title>
{% endblock head %} {% block content %}

<div class="container animate__animated animate__fadeIn">
  <div class="top-nav">
    <div class="logo">
      <img src="{% static 'images/aeto.svg' %}" alt="logo">
    </div>
    <h1>Dashboards y formularios</h1>
  </div>
  <div class="cont-horizontal">
    <div class="cont-informe">
      <div class="informe">
        <a
          class="reporte-link"
          href="https://drive.google.com/uc?id=1GD0kC__oUYfTNarsSBweN3JdBxOCb1kg&export=download"
        >
          <h2>Informe de diesel</h2>
        </a>
      </div>

      <div class="informe">
        <a href="{% url 'dashboards:perdidaRendimiento' %}" class="reporte-link">
          <h2>
            Informe de perdida y rendimiento
          </h2>
        </a>
      </div>

    </div>
    <div class="cont-dashboards">
      <div class="dashboard">
        <a class="dashboard-link" href="{% url 'dashboards:pulpo' %}">
          <h2>PULPO</h2>
        </a>
      </div>
      {% if grupo != "Pulpo Manager" %}
      <div class="dashboard">
        <a class="dashboard-link" href="{% url 'dashboards:tireDB1' %}">
          <h2>ESTATUS DE FLOTA</h2>
        </a>
      </div>
      <div class="dashboard">
        <a class="dashboard-link" href="{% url 'dashboards:tireDB2' %}">
          <h2>REEMPLAZO ESTIMADO</h2>
        </a>
      </div>
      <div class="dashboard">
        <a class="dashboard-link" href="{% url 'dashboards:tireDB3' %}">
          <h2>RENDIMIENTO DE LLANTA</h2>
        </a>
      </div>
      <div class="dashboard">
        <a class="dashboard-link" href="{% url 'dashboards:dashboardOperativo' %}">
          <h2>DASHBOARD OPERATIVO</h2>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
