{% extends 'base.html' %}

{% block head %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/detail2.css' %}">
  <link rel="stylesheet" href="{% static 'css/diagrama.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <title>Inspección de vehículo</title>

{% endblock %}

{% block content %}

<div class="main-cont">
  <header class="head-cont animate__animated animate__fadeIn">
    <div class="logo">
        <img src="{% static 'images/aeto.svg' %}" alt="logo">
    </div>
  
    <h1>Inspección de vehículo</h1>
  </header>

  <form class="main__container" method="POST" id="tire-form">
    {% include 'inspeccion/config.html' %}

    {% include 'inspeccion/formulario.html' %}
    
    <div class="modal__container">
      <div class="form__container">
        <h3>Vehículo</h3>
    
        <!-- Start input -->
        <div class="form__group field">
          <input
            class="form__field"
            type="number"
            {% if vehiculo_actual.km == None %}
              min="0"
            {% else %}
              min="{{vehiculo_actual.km}}"
            {% endif %}
            max="{{km_max}}"
            placeholder="producto"
            name="kilometraje"
            autocomplete="off"
            {% if vehiculo_actual.km == None %}
              value = ""
            {% else %}
              value = "{{vehiculo_actual.km}}"
            {% endif %}
            
          />
          <label for="kilometraje" class="form__label">
            Kilometraje
          </label>
        </div>
        <!-- End input -->
    
        <!-- OBSERVACIONES VEHICULO -->
    
        <div class="drop-form">
          <input type="search" class="drop-input" placeholder="Observación de vehículo" id="vehiculo-search">
          <ul class="drop-options" id="vehiculo-observaciones">
            {% for observacion in observaciones_vehiculo %}
              <li class="search-item">
                <label for="{{observacion.observacion}}" class="input-check">
                  <i class="{{observacion.icono}}"></i>
                  {{observacion.observacion}}
                  <input 
                    type="checkbox" 
                    name="observation-vehiculo" 
                    value="{{observacion.observacion}}" 
                    id="{{observacion.observacion}}" 
                    data-vehiculo-item="{{observacion.observacion}}"
                  />
                  <span class="checkmark"></span>
                </label>
              </li>
            {% endfor %}
          </ul>
        </div>
    
        <h3 class="text-center">
          Observaciones
        </h3>
    
        <div class="observations__container">
          {% for observacion in observaciones_vehiculo %}
            <div data-icon-type="{{observacion.observacion}}">
              <i class="{{observacion.icono}}"></i>
              {{observacion.observacion}}
            </div>
          {% endfor %}
        </div>
    
        <button type="button" class="btn close" id="close-modal">
          Cerrar
        </button>
    
      </div>
    </div>
  </form>
</div>


<script src="{% static 'js/inspeccion/index.js' %}" type="module"></script>

<script>
  document.addEventListener('DOMContentLoaded', (e) => {
    handlePresion();
    confirmAlert()
  })

  const validateEconomic = () => {
    const data = [{% for i in num_eco_comp %}'{{i}}',{% endfor %}];
    let values = Array(...data)
    const inputs = document.querySelectorAll('input[name="llanta"]');
    let duplicate = 0;

    inputs.forEach((input) => {
      if (values.find((value) => value == input.value)) {
        const warn = Swal.fire({
          title: 'Error',
          text: `El numero ${ input.value } esta repetido`,
          icon: 'error',
          backdrop: true,
          allowOutsideClick: false,
          allowEscapeKey: false,
        });
        duplicate++;
      }
    }); 
    
    if ( duplicate > 0 ) {
      return false;
    } else {
      return true;
    }
  }

  const noDoubleValues = (inputName = '') => {
  const elements = document.querySelectorAll(`input[name="${inputName}"]`);
  let values = [];

  elements.forEach((value) => {
    values.push(value.value);
  });

  const tempArray = [...values].sort();
  let duplicate = [];

  for (let i = 0; i < tempArray.length; i++) {
    if (tempArray[i + 1] === tempArray[i]) {
      duplicate.push(tempArray[i]);
    }
  }

  if (duplicate.length > 0) {
    const alert = Swal.fire({
      title: 'Error',
      text: 'No puede haber elementos duplicados',
      icon: 'error',
      backdrop: true,
      allowOutsideClick: false,
      allowEscapeKey: false,
    });
    return true; // Si hay elementos duplicados retorna true para la validación con sweetalert
  }

  return false; // Si no hay elementos duplicados
};

// ! Empty profs

const emptyProfs = () => {
  const inputs = document.querySelectorAll('.form__prof');
  let counter = 0;

  inputs.forEach((el) => {
    let inputCounter = 0;
    el.querySelectorAll('input').forEach((input) => {
      if (input.value !== '') {
        inputCounter++;
      }
    });
    if (inputCounter >= 1) {
      counter++;
    }
  });

  console.log(counter);

  if (counter >= inputs.length) {
    return true;
  }

  return false;
};

const confirmAlert = () => {
  const form = document.getElementById('tire-form');

  form.addEventListener('submit', (e) => {
    e.preventDefault();
    const duplicate = noDoubleValues('llanta');
    const empty = emptyProfs();
    const economic = validateEconomic();
    console.log('economic', economic)

    if (duplicate) return;

    if (!empty) {
      const alertSw = Swal.fire({
        title: 'Error',
        text: 'Todas las llantas al menos tienen que tener una profundidad',
        icon: 'error',
        backdrop: true,
        allowOutsideClick: false,
        allowEscapeKey: false,
      });
      return;
    }

    if (!economic) {
      return;
    }

    const alertSw = Swal.fire({
      title: 'Confirmación',
      text: '¿Seguro que desea continuar?',
      icon: 'question',
      confirmButtonText: 'Si',
      backdrop: true,
      showDenyButton: true,
      allowOutsideClick: false,
      allowEscapeKey: false,
    }).then((res) => {
      res.value && form.submit();
    });
  });
};

  const handlePresion = () => {
    const inputs = document.querySelectorAll('input[name="presion"]');
    const tag = document.querySelectorAll('[data-tag-id]');

    inputs.forEach(input => {
      input.addEventListener('input', (e) => {
        let id = input.getAttribute('data-input-id');
        let tag = document.querySelector(`[data-tag-id="${id}"]`)
        let minPresion = parseFloat(input.getAttribute('data-presion-min'));
        let maxPresion = parseFloat(input.getAttribute('data-presion-max'));

        tag.textContent = input.value;

        if (tag.textContent.length === 0 ) {
          tag.textContent = 0;
        }

        if (parseFloat(tag.textContent) >= minPresion && parseFloat(tag.textContent) <= maxPresion) {
          tag.parentElement.classList.remove('bad');
          tag.parentElement.classList.add('good');
        } else {
          tag.parentElement.classList.remove('good');
          tag.parentElement.classList.add('bad');
        }

        let container = document.querySelector(`[data-container-id="${id}"]`);
        if (parseFloat(tag.textContent) > maxPresion) {
          container.querySelector('[data-icon-presion="Alta presion"]').classList.add('visible')
          container.querySelector('[data-icon-presion="Baja presión"]').classList.remove('visible')
        } else if (parseFloat(tag.textContent) < minPresion) {
          container.querySelector('[data-icon-presion="Alta presion"]').classList.remove('visible')
          container.querySelector('[data-icon-presion="Baja presión"]').classList.add('visible')
        } else if (parseFloat(tag.textContent) >= minPresion && parseFloat(tag.textContent) <= maxPresion) {
          container.querySelector('[data-icon-presion="Alta presion"]').classList.remove('visible')
          container.querySelector('[data-icon-presion="Baja presión"]').classList.remove('visible')
        }
        
      })
    })
  }
</script>

{% endblock %}