{% load static %}
<header class="nav-cont animate__animated animate__fadeIn">
  <nav class="navbar">
    <button class="btn btn-menu">
      <span class="icon-menu"></span>
    </button>
    <div class="logo-aeto">
      <img src="{% static 'images/logo-aeto.png' %}" alt="logo">
    </div>
  </nav>
  <aside class="menu">
    <ul class="menu-items">
      <li class="menu-item">
        <a class="center-icon" href="{% url 'dashboards:home' %}">
          <span class="icon-home-out"></span>
          <span class="text">Home</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="center-icon" href="{% url 'dashboards:hub' %}">
          <span class="icon-dashboard"></span>
          <div class="text">Dashboards</div>
        </a>
      </li>
      <li class="menu-item">
        <a class="center-icon" href="{% url 'dashboards:search' %}">
          <span class="icon-truck"></span>
          <div class="text">Vehiculos</div>
        </a>
      </li>
      <li class="menu-item">
        <a class="center-icon" href="{% url 'dashboards:almacen' %}">
          <span class="icon-warehouse"></span>
          <span class="text">Almacen</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="center-icon" href="{% url 'dashboards:config' %}">
          <span class="icon-settings"></span>
          <span class="text">Configuracion</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="center-icon" href="{% url 'dashboards:calendario' %}">
          <span class="icon-calendar1"></span>
          <span class="text">Calendario</span>
        </a>
      </li>
    </ul>
    <button class="btn btn-menu">
      <a class="logout" href="{% url 'dashboards:logout' %}">
        <span class="icon-log-out"></span>
      </a>
    </button>
  </aside>
</header>
