{% extends 'base.html' %}

{% block head %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/ordenSalidaRen.css' %}" />
  <title>Orden de Renovado Final</title>
  {% load static %}

{% endblock %}

{% block content %}

<div class="orden-salida">
  <div class="all-cont" id="doc">
    <link
      rel="stylesheet"
      href="{% static 'css/ordenSalidaRen.css' %}"
      media="all"
    />
    <header class="doc-head">
      <div class="head-title">
        <h2 class="doc-title">Orden de Renovado Final</h2>
        <h2 class="doc-sub">Folio: {{folio}}</h2>
      </div>
      <div class="logo">
        <img src="{% static 'images/aeto-logo.svg' %}" />
      </div>
    </header>
  
    <div class="container">
      <div class="cont-item">
        <strong>Fecha</strong>
        <span class="italic">{{hoy}}</span>
      </div>
      <div class="cont-item">
        <strong>Usuario</strong>
        <span class="italic">{{user}}</span>
      </div>
      <div class="cont-item">
        <strong>Renovado</strong>
        <span class="italic">{{renovador.nombre}}</span>
      </div>
    </div>
  
    <div class="main-cont">
      <div class="top-row">
        <div class="top-table">
          <label>Cantidad </label>
          <span>{{total}}</span>
        </div>
  
        <div class="top-table">
          {% if status == "aprobado" %}
            <strong>
              Producto
            </strong>
            <span>{{producto}}</span>
          {% else %}
            <strong>
              Razon
            </strong>
            <span>{{razon}}</span>
          {% endif %}
        </div>
        <div class="top-table">
          <strong>
            Estado
          </strong>
            {% if status == "aprobado" %}
              <span class="icon-checkmark ok"></span>
            {% elif status == "rechazado" %}
              <span class="icon-cross bad"></span>
            {% endif %}
        </div>
      </div>
  
      <div class="table-cont">
        <table>
          <thead>
            <tr>
              <th>Económico</th>
              <th>Casco</th>
              <th>Vida</th>
              <th>Días fuera</th>
              <th>Taller origen</th>
              <th>Taller destino</th>
            </tr>
          </thead>
          <tbody>
            {% for llanta in llantas_list %}
            <tr>
              <td>{{llanta.numero_economico}}</td>
              <td>{{llanta.producto__producto}}</td>
              <td>{{llanta.vida}}</td>
              <td>{{llanta.dias_fuera}}</td>
              <td>{{llanta.taller__nombre}}</td>
              <td>{{taller}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="firma">
      <hr />
      <h1>Firmas de Salida de llantas</h1>
    </div>
  </div>
  
  <div class="nav-buttons">
    
    <button class="btn btn-info" id="btn-print">
      <span class="icon-printer8"></span>
    </button>
    {% if solovista == True %}
    
    {% else %}
    
      <form action="" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="ids" value='{{ids}}'>
        {% if status == "aprobado" %}
          <input type="hidden" name="producto" value='{{producto}}'>
        {% else %}
        <input type="hidden" name="razon" value='{{razon}}'>
        {% endif %}
        <input type="hidden" name="taller" value='{{taller}}'>
        <input type="hidden" name="status" value='{{status}}'>

        <a href="{% url 'dashboards:carritoStock' %}?inventario=Con renovador" class="btn btn-danger">
          <span class="icon-cross"></span>
        </a>
        <br>
        <button type="submit" class="btn btn-success">
          <span class="icon-checkmark"></span>
        </button>

      </form>
    {% endif %}
  </div>
  
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  document.addEventListener('DOMContentLoaded', (e) => {
    printBtn();
  });

  const print = () => {
    const $elementoParaConvertir = document.getElementById('doc'); // <-- Aquí puedes elegir cualquier elemento del DOM
    html2pdf()
      .set({
        margin: 1,
        filename: 'ordenEntradaTaller.pdf',
        image: {
          type: 'jpeg',
          quality: 0.98,
        },
        html2canvas: {
          scale: 3, // A mayor escala, mejores gráficos, pero más peso
          letterRendering: true,
        },
        jsPDF: {
          unit: 'in',
          format: 'a3',
          orientation: 'portrait', // landscape o portrait
        },
      })
      .from($elementoParaConvertir)
      .save()
      .catch((err) => console.log(err));
  };

  const printBtn = () => {
    const button = document.getElementById('btn-print');

    button.addEventListener('click', print);
  };
</script>
{% endblock %}
