{% extends 'base.html' %}

{% block head %}
{% load static %}
{% load static %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/ordenSalidaRen.css' %}" />
  <title>Orden de Nueva Llanta</title>
{% endblock %}

{% block content %}

<div class="orden-salida">
  <div class="all-cont" id="doc">
    <link
      rel="stylesheet"
      href="{% static 'css/ordenSalidaRen.css' %}"
      media="all"
    />
    <header class="doc-head">
      <div class="head-title">
        <h2 class="doc-title">Orden de Nueva Llanta</h2>
        <h2 class="doc-sub">Folio: {{folio}}</h2>
      </div>
      <div class="logo">
        <img src="{% static 'images/aeto-logo.svg' %}" />
      </div>
    </header>
  
    <div class="two-columns">
      <div class="container">
        <div class="cont-item">
          <strong>Fecha</strong>
          <span class="italic">{{fecha.day}}/{{fecha.month}}/{{fecha.year}}</span>
        </div>
        <div class="cont-item">
          <strong>Usuario</strong>
          <span class="italic">{{perfil}}</span>
        </div>
        <div class="cont-item">
          <strong>Taller destino</strong>
          <span class="italic"> {{taller}} </span>
        </div>
        <div class="cont-item">
          <strong>Cantidad</strong>
          <span class="italic"> {{total}} </span>
        </div>
      </div>
    </div>
  
    <div class="main-cont">
      <div class="table-cont">
        {% for data in templeta_data %}
          <table>
            <thead>
              <tr>
                <th>{{data.producto}}</th>
              </tr>
            </thead>
            <tbody>
              {% for nums in data.nums_ecos %}
                <tr>
                    <td>{{nums}}</td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td>Total: {{data.nums_ecos|length}}</td>
              </tr>
            </tfoot>
          </table>
          <br>
        {% endfor %}
      </div>
    </div>
  
    <div class="firma">
      <!-- <img
        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Miguel_D%C3%ADaz-Canel_firma.png"
        alt=""
        class="firma-img"
      /> -->
      <hr />
      <h1>Firmas de Salida de llantas</h1>
    </div>
  </div>
  
  <div class="nav-buttons">
    <button class="btn btn-info" id="btn-print">
      <span class="icon-printer8"></span>
    </button>
    {% if status == 'PreOrden' %}
    
      <a class="btn btn-success" href="{% url 'dashboards:ordenLlantaDef' id %}">
        <span class="icon-checkmark"></span>
      </a>
      <a class="btn btn-danger" href="{% url 'dashboards:ordenLlantaDeleteDef' id %}">
        <span class="icon-cross"></span>
    </a>
  
    {% else %}
    {% endif %}
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  document.addEventListener('DOMContentLoaded', (e) => {
    printBtn();
  });

  const print = () => {
    const $elementoParaConvertir = document.getElementById('doc'); // <-- Aquí puedes elegir cualquier elemento del DOM
    html2pdf()
      .set({
        margin: .75,
        filename: 'orden-llanta-nueva-folio.pdf',
        image: {
          type: 'jpeg',
          quality: 0.98,
        },
        html2canvas: {
          scale: 3, // A mayor escala, mejores gráficos, pero más peso
          letterRendering: true,
        },
        jsPDF: {
          unit: 'in',
          format: 'letter',
          orientation: 'portrait', // landscape o portrait
        },
      })
      .from($elementoParaConvertir)
      .save()
      .catch((err) => console.log(err));
  };

  const printBtn = () => {
    const button = document.getElementById('btn-print');

    button.addEventListener('click', print);
  };
</script>
{% endblock %}
