{% extends 'base.html' %}

{% block head %}
{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{% static 'css/ordenSalidaRen.css' %}" />
<title>Orden de entrada a Taller</title>
{% load static %}
{% endblock %}

{% block content %}
<div class="all-cont" id="doc">
  <link
    rel="stylesheet"
    href="{% static 'css/ordenSalidaRen.css' %}"
    media="all"
  />
  <header class="doc-head">
    <div class="head-title">
      <h2 class="doc-title">Orden de Entrada a Taller</h2>
      <h2 class="doc-sub">Folio: SR</h2>
    </div>
    <div class="logo">
      <img src="{% static 'images/pulpo.png' %}" />
    </div>
  </header>

  <div class="container">
    <div class="cont-item">
      <strong>Fecha:</strong>
      <span class="italic">22/02/2022</span>
    </div>
    <div class="cont-item">
      <strong>Usuario:</strong>
      <span class="italic">pruebacal</span>
    </div>
    <div class="cont-item">
      <label for="destino">
        <strong>Renovador Destino:</strong>
        <input
          type="text"
          list="destino"
          placeholder="Destino..."
          class="form-control"
          required
        />
        <datalist id="destino">
          <option value="Destino 1"></option>
          <option value="Destino 2"></option>
          <option value="Destino 3"></option>
        </datalist>
      </label>
    </div>
  </div>

  <div class="main-cont">
    <div class="top-row">
      <div class="">
        <label>Cantidad: </label>
        <span>10</span>
      </div>

      <div class="two-columns">
        <div class="cont-item f-body">
          <strong>
            Rechazadas:
          </strong>
          <span>1</span>
        </div>
        <div class="cont-item f-body">
          <strong>
            Aprobadas:
          </strong>
          <span>2</span>
        </div>
      </div>
    </div>

    <div class="table-cont">
      <table>
        <thead>
          <tr>
            <th>Económico</th>
            <th>Casco</th>
            <th>Producto</th>
            <th>Vida</th>
            <th>Días fuera</th>
            <th>Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5454454</td>
            <td>casco</td>
            <td>fw32345</td>
            <td>100</td>
            <td>1 día</td>
            <td class="ok">
              <span class="icon-checkmark"></span>
            </td>
          </tr>
          <tr>
            <td>5454454</td>
            <td>casco</td>
            <td>fw32345</td>
            <td>100</td>
            <td>1 día</td>
            <td class="ok">
              <span class="icon-checkmark"></span>
            </td>
          </tr>
          <tr>
            <td>5454454</td>
            <td>casco</td>
            <td>fw32345</td>
            <td>100</td>
            <td>1 día</td>
            <td class="bad">
              <span class="icon-cross"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="firma">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/5/53/Miguel_D%C3%ADaz-Canel_firma.png"
      alt=""
      class="firma-img"
    />
    <hr />
    <h1>Firmas de Salida de llantas</h1>
  </div>
</div>

<div class="nav-buttons">
  <button class="btn btn-info" id="btn-print">
    <span class="icon-printer8"></span>
  </button>
  <button class="btn btn-primary" type="submit">Guardar</button>
  <button class="btn btn-success">
    <a href="{% url 'dashboards:conRenovador' %}">
      <span class="icon-checkmark"></span>
    </a>
  </button>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  document.addEventListener('DOMContentLoaded', (e) => {
    printBtn();
  });

  const print = () => {
    const $elementoParaConvertir = document.getElementById('doc'); // <-- Aquí puedes elegir cualquier elemento del DOM
    html2pdf()
      .set({
        margin: 1,
        filename: 'ordenEntradaTaller.pdf',
        image: {
          type: 'jpeg',
          quality: 0.98,
        },
        html2canvas: {
          scale: 3, // A mayor escala, mejores gráficos, pero más peso
          letterRendering: true,
        },
        jsPDF: {
          unit: 'in',
          format: 'a3',
          orientation: 'portrait', // landscape o portrait
        },
      })
      .from($elementoParaConvertir)
      .save()
      .catch((err) => console.log(err));
  };

  const printBtn = () => {
    const button = document.getElementById('btn-print');

    button.addEventListener('click', print);
  };
</script>
{% endblock %}
