{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/planTaller.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <title>Taller</title>
{% endblock head %}
{% block content %}
  <main class="all-cont">
    <div class="head-cont">
      <div class="logo">
        <img src="{% static 'images/aeto.svg' %}" alt="logo" />
      </div>
      <form id="taller-form" class="title-cont" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="hoja" value="" id="hoja-servicio">
        <input type="hidden" name="data" value="" id="data-taller">
        <input type="hidden" name="vehiculo" value="" id="vehiculo-data">
        <input type="hidden" name="vehiculoId" value="{{vehiculo_acomodado.0.vehiculo.id}}">
        <button class="btn btn-success" name='formulario' value='agendar'>
          <i class="icon-calendar1"></i>
        </button>
        <button type="submit" class="btn btn-success" name='formulario' value='realizar'>
          <span class="icon-checkmark"></span>
        </button>
      </form>
    </div>
    <div class="container">
      <aside class="left-cont">
        <form class="service-page">
          <h3>Hoja de Servicio</h3>
          <!-- <div class="form__row">
            <input type="text" name="folio" value="123456789" placeholder="Folio" readonly>
          </div> -->

          <div class="flex-row">
            <input type="text" name="usuario" value="{{request.user}}" placeholder="Usuario">
            <input type="text" name="vehiculoEconomico" value="{{vehiculo.0}}" placeholder="Número económico" readonly>
          </div>
          <div class="flex-row">
            <input type="text" name="sucursal" value="{{vehiculo.0.ubicacion}}" placeholder="Sucursal" readonly>
            <input type="text" name="aplicacion" value="{{vehiculo.0.aplicacion}}" placeholder="Aplicación" readonly>
          </div>
          <label for="">
            <strong>Fecha de inicio</strong>
          </label>
          <div class="flex-row">
            <input type="date" name="fecha" id="" required>
            <input type="time" name="hora" id="" required>
          </div>
          <label for="">
            <strong>Fecha final</strong>
          </label>
          <div class="flex-row">
            <input type="date" name="fecha_end" id="" required>
            <input type="time" name="hora_end" id="" required>
          </div>

          <!-- <div class="form__row">
            <button type="submit" class="btn btn-taller">
              Guardar
            </button>
          </div> -->

        </form>

        <div class="relative">
          <div class="absolute">
            <div class="tire-list"></div>
          </div>
        </div>
      </aside>
      <div class="main-cont">

        <form id="vehicle-form" class="flex-row">
          <label for="alinearVehiculo" class="label-check">
            <input type="checkbox" name="alinearVehiculo" id="alinearVehiculo" data-vehicleFix>
            <div class="btn-filter">
              Alinear Vehículo
            </div>
          </label>
        </form>

        {% for vehiculo in vehiculo_acomodado %}
          {% include 'taller/config_vehicle.html' %}
        {% endfor %}

      </div>
    </div>

    {% for vehiculo in vehiculo_acomodado %}
      {% for eje in vehiculo.ejes %}
        {% for llanta in eje %}
          {% include 'taller/modal.html' %}
        {% endfor %} 
      {% endfor %}
    {% endfor %}
    
  </main>

  <div class="alert__success">
    Agregado satisfactoriamente
  </div>

  <script src="{% static 'js/taller/index.js' %}" type="module"></script>
{% endblock content %}