{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/planTaller.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <title>Taller</title>
{% endblock head %}
{% block content %}


  <main class="all-cont">
    <div class="head-cont">
      <div class="logo">
        <img src="{% static 'images/aeto.svg' %}" alt="logo" />
      </div>
      <form id="taller-form" class="title-cont" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="hoja" value="" id="hoja-servicio">
        <input type="hidden" name="data" value="" id="data-taller">
        <input type="hidden" name="vehiculo" value="" id="vehiculo-data">
        <input type="hidden" name="vehiculoId" value="{{vehiculo_acomodado.0.vehiculo.id}}">
        <button class="btn btn-success" name='formulario' value='agendar'>
          <i class="icon-calendar1"></i>
        </button>
        <button type="submit" class="btn btn-success" name='formulario' value='realizar'>
          <span class="icon-checkmark"></span>
        </button>
      </form>
    </div>
    <div class="container">
      <aside class="left-cont">
        <details>
          <summary>
            Hoja de servicio
          </summary>
          <form class="service-page">

            <!-- <h3 class="economic-number">No. Economico: {{vehiculo.0}}</h3> -->
  
            <div class="flex-row">
              <select name="usuario" id="usuario" required>
                <option value="" selected disabled>Selecciona un usuario</option>
                {% for usuario in usuarios %}
                  <option value="{{usuario.id}}">{{usuario}}</option>
                {% endfor %}
              </select>
              <!--<input type="text" name="usuario" value="{{request.user}}" placeholder="Usuario">-->
              <input type="hidden" name="vehiculoEconomico" value="{{vehiculo.0}}">
            </div>
            <div class="flex-row">
              <input type="text" name="sucursal" value="{{vehiculo.0.ubicacion}}" placeholder="Sucursal" readonly>
              <input type="text" name="aplicacion" value="{{vehiculo.0.aplicacion}}" placeholder="Aplicación" readonly>
            </div>
            <label for="">
              <strong>Fecha de inicio</strong>
            </label>
            <div class="flex-row">
              <input type="date" name="fecha" id="" required>
              <input type="time" name="hora" id="" required>
            </div>
            <label for="">
              <strong>Fecha final</strong>
            </label>
            <div class="flex-row">
              <input type="date" name="fecha_end" id="" required>
              <input type="time" name="hora_end" id="" required>
            </div>
            <div class="flex-row">
              <input type="number" name="km_montado" value="{{km}}" placeholder="Km del vehiculo {{km}}" max="{{km_max}}" min="{{km_min}}">
              Km maximo: {{km_max}}
            </div>

            <label for="no_km">
              <input type="checkbox" name="no_km" id="no_km" style="width: auto;">
              <strong>
                KM imposible de registrar
              </strong>
            </label>
  
          </form>
        </details>

        <div class="relative">
          <div class="absolute">
            <div class="tire-list"></div>
          </div>
        </div>
      </aside>
      <div class="main-cont">

        <header class="container-header">
          <h2>No. económico: {{ vehiculo.0 }}</h2>
        </header>

        <form id="vehicle-form" class="flex-row" style="width: 100%; justify-content: center;">
          <label for="alinearVehiculo" class="label-check" style="width: auto;">
            <input type="checkbox" name="alinearVehiculo" id="alinearVehiculo" data-vehicleFix>
            <div class="btn-filter">
              Alinear Vehículo
            </div>
          </label>
          <label for="inflarVehiculo" class="label-check" style="width: auto;">
            <input type="checkbox" name="inflarVehiculo" id="inflarVehiculo" data-vehicleFix>
            <div class="btn-filter">
              Inflar Vehículo
            </div>
          </label>
        </form>

        {% for vehiculo in vehiculo_acomodado %}
          {% include 'taller/config_vehicle.html' %}
        {% endfor %}

      </div>
    </div>
    {% if servicios > 0 %}
      
      {% for llanta in servicio %}
        {% include 'taller/modal-full.html' %}
      {% endfor %}

    {% else %}

      {% for vehiculo in vehiculo_acomodado %}
        {% for eje in vehiculo.ejes %}
          {% for llanta in eje %}
            {% include 'taller/modal.html' %}
          {% endfor %} 
        {% endfor %}
      {% endfor %}

    {% endif %}
    
  </main>

  <div class="alert__success">
    Agregado satisfactoriamente
  </div>

  <script src="{% static 'js/taller/index.js' %}" type="module"></script>
{% endblock content %}