{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/procesoDesecho.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
  rel="stylesheet"
/>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<title>Proceso de desecho</title>
{% endblock %}

{% block content %}
<div class="all-cont">
  <div class="head-cont">
    <span class="icon-arrow-left2"></span>
    <div class="logo">
      <img src="{% static 'images/aeto.svg' %}" alt="">
    </div>
  </div>
  <div class="container">
    <div class="cont__left">
      <div class="top__search">
        <h2>Lista de Llantas</h2>
        <div class="search">
          <input type="search" id="search" placeholder="Buscar número económico...">
          <span class="icon-search"></span>
        </div>
      </div>

      <div class="tires__container">
        <nav>
          <button class="prev">Prev</button>
          <button class="next">Next</button>
        </nav>
        <div class="tire__list"></div>
        <div class="icon-spinner2"></div>
      </div>

    </div>
    <form class="cont__right" form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h2 class="form__header">Seleccione una llanta</h2>
      <div class="form__tire">
        <div class="damage">
          <div class="damage__svg">
            <img src="{% static './images/tireIns.svg' %}" alt="">
          </div>
        </div>
        <div class="select__group">

          <div class="select__group__item">
            <label for="">
              Condición
            </label>
            <select name="condicion" id="" disabled required>
              <option value=""></option>
              <option value="">Condición 1</option>
              <option value="">Condición 2</option>
              <option value="">Condición 3</option>
            </select>
          </div>

          <div class="select__group__item">
            <label for="">
              Zona de daño
            </label>
            <select name="zona" id="" disabled required>
              <option value=""></option>
              <option value="">zona 1</option>
              <option value="">zona 2</option>
              <option value="">zona 3</option>
              <option value="">zona 4</option>
              <option value="">zona 5</option>
            </select>
          </div>

          <div class="select__group__item">
            <label for="">
              Razón
            </label>
            <select name="razon" id="" disabled required>
              <option value=""></option>
              <option value="">Razón 1</option>
              <option value="">Razón 2</option>
              <option value="">Razón 3</option>
            </select>
          </div>

          <div class="input__group__item">
            <label for="">
              Profundidad
            </label>
            <input type="number" name="profundidad" placeholder="Profundidad" disabled required>
          </div>

          <input type="hidden" name="id">
        
        </div>
        <div class="drag__drop">
          <input type="file" name="image" id="" accept=".jpg, .png, .jpeg, gif" disabled>
        </div>

        <div class="image__prev"></div>

        <div class="button__group">
          <button class="btn btn-danger" type="button" disabled>
            <span class="icon-cross"></span>
          </button>
          <button class="btn btn-success" disabled>
            <span class="icon-checkmark"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<template id="template">
  <div class="tire__item">
    <span class="icon-tire2"></span>
    <div class="data">
      <div class="economico">
        <h3>Numero económico:</h3>
        <p></p>
      </div>
      <div class="producto">
        <h3>Producto:</h3>
        <p></p>
      </div>
    </div>
  </div>
</template>

<script>

  document.addEventListener('DOMContentLoaded', (e) => {
    getData();
    image();
  });

  const template = document.getElementById('template').content,
        fragment = document.createDocumentFragment(),
        form = document.querySelector('form'),
        tireList = document.querySelector('.tire__list'),
        loader   = document.querySelector('.icon-spinner2');
        
  let currentPage = 1,
  size = 4;
        
  let isSelect = false;

  const getData = async () => {
    loader.style.display = 'block';
    try {
      const resp = await fetch(`${location.origin}/api/procesodesecho?perfil={{ perfil }}&page=${currentPage}&size=${size}`);
      const json = await resp.json();

      if (!resp.ok) throw new Error('Error en la petición');

      tireList.innerHTML = '';

      if (json.pagination.next === null) {
       document.querySelector('.next').style.display = 'none'; 
      } else {
        document.querySelector('.next').style.display = 'inline-block'; 
      }

      if (json.pagination.prev === null) {
       document.querySelector('.prev').style.display = 'none'; 
      } else {
        document.querySelector('.prev').style.display = 'inline-block'; 
      }
      
      json.llantas.forEach(tire => {
        template.querySelector('.tire__item').dataset.id = tire.id;
        template.querySelector('.tire__item').dataset.profundidad = tire.min_profundidad;
        template.querySelector('.economico p').textContent = tire.numero_economico;
        template.querySelector('.producto p').textContent = tire.product;

        let clone = document.importNode(template, true);
        fragment.appendChild(clone);
      })

      loader.style.display = 'none';
      tireList.appendChild(fragment);
      setTire();
    } catch (error) {
      console.error(error)
    }
  }

  const setCondition = () => {
    const selectCondition = document.querySelector('select[name="condicion"]');

    fetch(`${location.origin}/api/opcionesdesecho`)
    .then(resp => resp.json())
    .then(json => {
      let option = `<option>Seleccione una condición</option>`;

      json.condiciones.forEach(condition => {
        option += `<option value="${condition.condicion}">${condition.condicion}</option>`;
      });

      selectCondition.innerHTML = option;
    })
    .catch(error => console.error(error))
  };

  const loadZone = (condition) => {
    const selectZona = document.querySelector('select[name="zona"]');

    fetch(`${location.origin}/api/opcionesdesecho?condicion=${condition}`)
      .then(resp => resp.ok ? resp.json() : Promise.reject(resp))
      .then(json => {
        let option = `<option>Seleccione una condición</option>`;

        json.zonas.forEach(zonas => {
          option += `<option value="${zonas.zona_de_llanta}">${zonas.zona_de_llanta}</option>`;
        });

        selectZona.innerHTML = option;
      })
      .catch(error => console.error(error));
  }

  const loadRazones = (condicion, zona) => {
    const selectRazon = document.querySelector('select[name="razon"]');

    fetch(`${location.origin}/api/opcionesdesecho?condicion=${condicion}&zona=${zona}`)
      .then(resp => resp.ok ? resp.json() : Promise.reject(resp))
      .then(json => {
        let option = `<option>Seleccione una condición</option>`;

        json.razones.forEach(razon => {
          option += `<option value="${razon.razon}">${razon.razon}</option>`;
        });

        selectRazon.innerHTML = option;
      })
      .catch(error => console.error(error));
  }

  document.addEventListener('change', (e) => {
    const condicion = document.querySelector('select[name="condicion"]').value;
    const zona = document.querySelector('select[name="zona"]').value;

    if (e.target.name === 'condicion') {
      loadZone(condicion);
    }

    if (e.target.name === 'zona') {
      loadRazones( condicion, zona );
    }
  })

  const cancelTire = (tires) => {
    const cancel = document.querySelector('.btn-danger');
    cancel.addEventListener('click', (e) => {
      tires.forEach(tire => {
        tire.classList.remove('disabled');
        form.querySelectorAll('input, select, button').forEach(input => {
          input.disabled = true;
        });

        document.querySelector('.form__header').textContent = 'Seleccione una llanta';
        // document.querySelector('input[name="id"]').value = '';
        document.querySelectorAll('form input, form select').forEach(input => input.value = '')
        document.querySelector('input[name="image"]').value = '';
        document.querySelector('.image__prev').innerHTML = '';
      });

      isSelect = false;
    });
  }

  const setTire = () => {
    const tires = tireList.querySelectorAll('.tire__item');

    if (isSelect) {
      cancelTire(tires);
    }

    tires.forEach(tire => {
      tire.addEventListener('click', (e) => {
        setCondition();
        const id = tire.dataset.id;

        tires.forEach(tire => {
          if (tire.dataset.id !== id) tire.classList.add('disabled');
        });

        form.querySelectorAll('input, select, button').forEach(input => {
            input.disabled = false;
        });
        document.querySelector('.form__header').textContent = tire.querySelector('.economico p').textContent;
        document.querySelector('input[name="id"]').value = id;
        document.querySelector('input[name="profundidad"]').value = tire.dataset.profundidad;
        
        isSelect = true;
      });
    });
    
    cancelTire(tires);
  }

  // Manejar la paginación
  document.addEventListener('click', (e) => {
    if (e.target.matches('.prev')) {
      currentPage--;
      tireList.innerHTML = '';
      getData();
    }

    if (e.target.matches('.next')) {
      currentPage++;
      tireList.innerHTML = '';
      getData();
    }
  });

  // Buscador

  document.addEventListener('input', (e) => {
    let pageSearch = 1;
    if (e.target.matches('#search')) {
      if (e.target.value === '') {
        getData();
      } else {
        fetch(`
          ${location.origin}/api/procesodesecho?perfil={{ perfil }}&page=${pageSearch}&size=${size}&eco=${ e.target.value }
        `)
          .then(resp => resp.json())
          .then(json => {
            tireList.innerHTML = '';
            loader.style.display = 'block';

            if (json.llantas.length === 0) {
              tireList.innerHTML = `
                <div>No hay llantas con ese número económico</div>
              `;
              loader.style.display = 'none';
            } else {
              tireList.innerHTML = '';
              if (json.pagination.next === null) {
                document.querySelector('.next').style.display = 'none'; 
              } else {
                document.querySelector('.next').style.display = 'inline-block'; 
              }
    
              if (json.pagination.prev === null) {
                document.querySelector('.prev').style.display = 'none'; 
              } else {
                document.querySelector('.prev').style.display = 'inline-block'; 
              }
              
              json.llantas.forEach(tire => {
                template.querySelector('.tire__item').dataset.id = tire.id;
                template.querySelector('.tire__item').dataset.profundidad = tire.min_profundidad;
                template.querySelector('.economico p').textContent = tire.numero_economico;
                template.querySelector('.producto p').textContent = tire.product;
    
                let clone = document.importNode(template, true);
                fragment.appendChild(clone);
              })
    
              loader.style.display = 'none';
              tireList.appendChild(fragment);
              setTire();
            }
  
          })
          .catch(error => console.error(error));
      }

    }
  });

  const image = () => {
    const input = document.querySelector('input[name="image"]');
    input.addEventListener('change', (e) => {
      const file = e.target.files[0];
      const reader = new FileReader();

      reader.addEventListener('load', (e) => {
        const img = document.createElement('img');
        img.src = `${e.target.result}`;
        input.parentElement.nextElementSibling.appendChild(img);
      });

      reader.readAsDataURL(file);
    });
  }

</script>

{% endblock %}