{% extends 'base.html' %}

{% block head %}
{%load static%}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/procesoRenovado.css' %}"
    />
    <meta charset="utf-8" />
    <title>Panel de renovado</title>
{% endblock %}

{% block content %}
<div class="all-cont animate__animated animate__fadeIn">
  <header class="head-cont">
    <div class="logo">
      <img src="{% static 'images/aeto.svg' %}" alt="">
    </div>
  </header>
  <section class="container">
    <div class="nav__top">
      <div class="card__item">
        <h2>Aprobado (5)</h2>
      </div>
      <div class="card__item">
        <h2>Rechazado (3)</h2>
      </div>
      <div class="card__item">
        <h2>Taller Destino</h2>
      </div>
    </div>
    <div class="list__items">
      <div class="top__list">
        <h2>LISTA DE LLANTAS</h2>
      </div>
      <div></div>
    </div>
  </section>  
</div>
{% endblock %}
