{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/nueva.css' %}" />
  <title>Renovada</title>
{% endblock %}

{% block content %}
<main class="main__container animate__animated animate__fadeIn">
  <header class="head-cont">
    <h1>Renovada</h1>

    <div class="drop-search">
      <input type="search" name="" id="" placeholder="Buscar llanta..." class="drop-input">
      <i class="bx bx-search"></i>
    </div>

    <nav class="flex-row">
      <a href="{% url 'dashboards:tallerDestino' %}" class="btn btn-download">
        <span class="icon-truck"></span>
      </a>
      <button class="btn btn-download" type="button" id="filter-btn">
        <span class="icon-filter"></span>
      </button>
    </nav>
  </header>

  
  <div class="relative">
    <div class="absolute cards__container">
      <!-- {% for llanta in llantas_antes_de_renovar %} -->
      <div class="card__wrapper" id="{{ llanta.numero_economico | lower }}">
        
        <div class="card__img">
          <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta.id %}">
            <span class="icon-tire2"></span>
          </a>
          </div>
          
          <div class="card__body">
            <div class="tire__status good"></div>
            <div class="card__body-label">
              <h3 id="tire-name">#{{llanta.numero_economico}}</h3>
              <h4 class="card-title">Profunidad:</h4>
              <p><i>{{ llanta.ultima_inspeccion.min_profundidad }}</i></p>
            </div>
            <div class="card__body-label">
              <h4 class="card-title">Producto:</h4>
              <p><i>{{ llanta.producto }}</i></p>
            </div>
            <div class="card__body-label">
              <h4 class="card-title">Fecha:</h4>
              <p>{{ llanta.ultima_inspeccion.fecha_hora }}</p>
            </div>
          </div>
          
        </div>
        <!-- {% endfor %} -->
      </div>
  </div>    
</main>

{% include 'filter.html' %}

<script src="{% static './js/almacen/index.js' %}"></script>
{% endblock %}
