<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reporteVehiculo.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/logo-border.png' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/icomoon/style.css' %}"
    />
    <title>
      Reporte de Inspeccion - {{ vehiculo }}
    </title>
  </head>
  <body id="report">
    <header class="report__head">
      <div class="flex-row space-between">
        <h1 class="report__title">Reporte inspección - {{ vehiculo }}</h1>
        <div class="logo">
          <img src="{% static 'images/aeto-logo.svg' %}" alt="logo aeto reporte">
        </div>
      </div>
      <nav class="report__details">
        <div class="report__card">
          <div class="report__card-title">N° de flota</div>
          <div class="report__card-body">{{vehiculo.ubicacion}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Marca</div>
          <div class="report__card-body">{{vehiculo.marca}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Modelo</div>
          <div class="report__card-body">{{vehiculo.modelo}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Flota</div>
          <div class="report__card-body">{{vehiculo.ubicacion}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Localización</div>
          <div class="report__card-body">{{vehiculo.aplicacion}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Fecha</div>
          <div class="report__card-body">{{inspeccion_vehiculo.fecha.date}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Kilómetros</div>
          <div class="report__card-body">{{inspeccion_vehiculo.km}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Tipo de inspección</div>
          <div class="report__card-body">Inspection</div>
        </div>
      </nav>
    </header>
    <main class="main__container-config ejes__{{cant_ejes|safe}}">
      <div class="config__container">
        {% for eje in ejes %}
          {% if eje|length == 2 %}
          
            <!--Eje 2 llantas-->
            <div class="tire__container ejes__{{cant_ejes|safe}}">

              <div class="tire__content">
                <div class="tire__economic-top">
                  &downarrow; {{eje.0.0.llanta.numero_economico}} | {{eje.0.0.llanta.producto.marca}}
                </div>
                <div class="tire">
                  <div class="tire__tag pos {{eje.0.5}}">
                    {{eje.0.0.posicion}}
                  </div>
                  <div class="tire__tag up {{eje.0.3}}">
                    {{eje.0.0.presion}}
                  </div>
                  <span class="icon-tire2"></span>
                  <div class="tire__tag down {{eje.0.1}}">
                    {{eje.0.4}}
                  </div>
                </div>
              </div>

              <div class="axle">
                <span>{{eje.0.6}} - {{eje.0.7}}</span>
                <div class="shaft"></div>
                <span>{{eje.1.0.llanta.producto.dimencion}}</span>
              </div>

              <div class="tire__content">
                <div class="tire__economic-top">
                  &downarrow; {{eje.1.0.llanta.numero_economico}} | {{eje.1.0.llanta.producto.marca}}
                </div>
                <div class="tire">
                  <div class="tire__tag pos {{eje.1.5}}">
                    {{eje.1.0.posicion}}
                  </div>
                  <div class="tire__tag up {{eje.1.3}}">
                    {{eje.1.0.presion}}
                  </div>
                  <span class="icon-tire2"></span>
                  <div class="tire__tag down {{eje.1.1}}">
                    {{eje.1.4}}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            
            <!--Eje 4 llantas-->

            <div class="tire__container ejes__{{cant_ejes|safe}}">
              <div class="double-tire">
                
                <div class="tire__content">
                  <div class="tire__economic-top">
                    &downarrow; {{eje.0.0.llanta.numero_economico}} | {{ eje.0.0.llanta.producto.marca }}
                  </div>
                  <div class="tire">
                    <div class="tire__tag pos {{eje.0.5}}">
                      {{eje.0.0.posicion}}
                    </div>
                    <div class="tire__tag up {{eje.0.3}}">
                      {{eje.0.0.presion}}
                    </div>
                    <span class="icon-tire2"></span>
                    <div class="tire__tag down {{eje.0.1}}">
                      {{eje.0.4}}
                    </div>
                  </div>
                </div>


                <div class="tire__content">
                  <div class="tire">
                    <div class="tire__tag pos {{eje.1.5}}">
                      {{eje.1.0.posicion}}
                    </div>
                    <div class="tire__tag up {{eje.1.3}}">
                      {{eje.1.0.presion}}
                    </div>
                    <span class="icon-tire2"></span>
                    <div class="tire__tag down {{eje.1.1}}">
                      {{eje.1.4}}
                    </div>
                  </div>
                  <div class="tire__economic-bottom">
                    {{eje.1.0.llanta.numero_economico}} | {{eje.1.0.llanta.producto.marca}} &uparrow;
                  </div>
                </div>
              </div>

              <div class="axle">
                <span>{{eje.0.6}} - {{eje.0.7}}</span>
                <div class="shaft"></div>
                <span>{{eje.1.0.llanta.producto.dimension}}</span>
              </div>

              <div class="double-tire">
                <div class="tire__content">
                  <div class="tire__economic-top">
                    &downarrow; {{eje.2.0.llanta.numero_economico}} | {{eje.0.0.llanta.producto.marca}}
                  </div>

                  <div class="tire__content">
                    <div class="tire">
                      <div class="tire__tag pos {{eje.2.5}}">
                        {{eje.2.0.posicion}}
                      </div>
                      <div class="tire__tag up {{eje.2.3}}">
                        {{eje.2.0.presion}}
                      </div>
                      <span class="icon-tire2"></span>
                      <div class="tire__tag down {{eje.2.1}}">
                        {{eje.2.4}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tire__content">
                  <div class="tire">
                    <div class="tire__tag pos {{eje.3.5}}">
                      {{eje.3.0.posicion}}
                    </div>
                    <div class="tire__tag up {{eje.3.3}}">
                      {{eje.3.0.presion}}
                    </div>
                    <span class="icon-tire2"></span>
                    <div class="tire__tag down {{eje.3.1}}">
                      {{eje.3.4}}
                    </div>
                  </div>
                  
                  <div class="tire__economic-bottom">
                    {{eje.3.0.llanta.numero_economico}} | {{eje.0.0.llanta.producto.marca}} &uparrow;
                  </div>
                </div>
              </div>
            </div> 
          {% endif %}
        {% endfor %}
    </div>
    </main>
    {% if problemas|length > 0 %}

      <div class="config__list">
        
        <div class="list__cont">
          <div class="title-list">
            <h1>Lista de problemas</h1>
          </div>
          <div class="config__container-table">
              <table class="config__table">
                  <thead>
                      <tr>
                          <th class="th-table">Pos</th>
                          <th class="th-table">Icono</th>
                          <th class="th-table">Incidencia</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for problema in problemas %}


                      {% if forloop.counter|divisibleby:2  == False %}
                      <tr>
                          <td class="td-table" id="{{forloop.counter}}">{{problema.0}}</td>
                          <td class="td-table"><span class="{{problema.1.icono}}"></span></td>
                          <td class="td-table">{{problema.1.observacion}}</td>
                      </tr>
                      {% endif %}

                    {% endfor %}
                  </tbody>
              </table>
              <table class="config__table">
                  <thead>
                      <tr>
                          <th class="th-table">Pos</th>
                          <th class="th-table">Icono</th>
                          <th class="th-table">Incidencia</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for problema in problemas %}
                    
                        {% if forloop.counter|divisibleby:2  == True %}
                        <tr>
                            <td class="td-table" id="{{forloop.counter}}">{{problema.0}}</td>
                            <td class="td-table"><span class="{{problema.1.icono}}"></span></td>
                            <td class="td-table">{{problema.1.observacion}}</td>
                        </tr>
                        {% endif %}

                    {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
      </div>

    {% endif %}

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      (() => {
        const $elementoParaConvertir = document.getElementById('report'); // <-- Aquí puedes elegir cualquier elemento del DOM
        html2pdf()
          .set({
            margin: .5,
            filename: 'inspeccion_vehiculo_{{vehiculo}}.pdf',
            image: {
              type: 'jpeg',
              quality: 0.98,
            },
            html2canvas: {
              scale: 3, // A mayor escala, mejores gráficos, pero más peso
              letterRendering: true,
            },
            jsPDF: {
              unit: 'in',
              format: 'letter',
              orientation: 'portrait', // landscape o portrait
            },
          })
          .from($elementoParaConvertir)
          .save()
          .catch((err) => console.log(err));
      })()
    </script>
  </body>
</html>
