<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reporteVehiculo.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/logo-border.png' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/icomoon/style.css' %}"
    />
    <title>
      Reporte de servicios en taller - {{ vehiculo }}
    </title>
  </head>
  <body id="report">
    <header class="report__head">
      <div class="flex-row space-between">
        <h1 class="report__title">Reporte de servicios en taller - {{ vehiculo }}</h1>
        <div class="logo">
          <img src="{% static 'images/aeto-logo.svg' %}" alt="logo aeto reporte">
        </div>
      </div>
      <nav class="report__details">
        <div class="report__card">
          <div class="report__card-title">Folio</div>
          <div class="report__card-body">{{folio}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">N° de flota</div>
          <div class="report__card-body">{{vehiculo.ubicacion}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Marca</div>
          <div class="report__card-body">{{vehiculo.marca}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Modelo</div>
          <div class="report__card-body">{{vehiculo.modelo}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Flota</div>
          <div class="report__card-body">{{vehiculo.ubicacion}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Localización</div>
          <div class="report__card-body">{{vehiculo.aplicacion}}</div>
        </div>
        <div class="report__card">
          <div class="report__card-title">Fecha</div>
          <div class="report__card-body">{{fecha}}</div>
        </div>
        
        <div class="report__card">
          <div class="report__card-title">Tipo de inspección</div>
          <div class="report__card-body">Servicio</div>
        </div>
      </nav>
    </header>
    <main class="main__container-config ejes__{{cant_ejes|safe}}">
      <div class="config__container">
        {% for vehiculo in vehiculo_acomodado %}
          {% include 'taller-reporte/ejes.html' %}
        {% endfor %}
      </div>
    </main>

    

    <div class="config__list">
      
      <div class="list__cont">
        <div class="title-list">
          <h1>Servicios</h1>
        </div>
        <div class="config__container-table">
            <table class="config__table">
                <thead>
                    <tr>
                        <th class="th-table">Pos</th>
                        <th class="th-table">Icono</th>
                        <th class="th-table">Incidencia</th>
                    </tr>
                </thead>
                <tbody>
                  {% for problema in problemas %}


                    {% if forloop.counter|divisibleby:2  == False %}
                    <tr>
                        <td class="td-table" id="{{forloop.counter}}">{{problema.posicion}}</td>
                        <td class="td-table"><span class="{{problema.icono}}"></span></td>
                        <td class="td-table">{{problema.accion}}</td>
                    </tr>
                    {% endif %}

                  {% endfor %}
                </tbody>
            </table>
            <table class="config__table">
                <thead>
                    <tr>
                        <th class="th-table">Pos</th>
                        <th class="th-table">Icono</th>
                        <th class="th-table">Incidencia</th>
                    </tr>
                </thead>
                <tbody>
                  {% for problema in problemas %}
                  
                      {% if forloop.counter|divisibleby:2  == True %}
                      <tr>
                          <td class="td-table" id="{{forloop.counter}}">{{problema.posicion}}</td>
                          <td class="td-table"><span class="{{problema.icono}}"></span></td>
                          <td class="td-table">{{problema.accion}}</td>
                      </tr>
                      {% endif %}

                  {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>

    

    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      (() => {
        const $elementoParaConvertir = document.getElementById('report'); // <-- Aquí puedes elegir cualquier elemento del DOM
        html2pdf()
          .set({
            margin: .5,
            filename: 'inspeccion_vehiculo_{{vehiculo}}.pdf',
            image: {
              type: 'jpeg',
              quality: 0.98,
            },
            html2canvas: {
              scale: 3, // A mayor escala, mejores gráficos, pero más peso
              letterRendering: true,
            },
            jsPDF: {
              unit: 'in',
              format: 'letter',
              orientation: 'portrait', // landscape o portrait
            },
          })
          .from($elementoParaConvertir)
          .save()
          .catch((err) => console.log(err));
      })()
    </script> -->
  </body>
</html>
