{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/resumen.css' %}">
  <title>Resumen</title>
{% endblock head %}

{% block content %}
  <main class="main-cont">
    <header class="main-header">
      <h1>Resumen</h1>
    </header>

    <section class="scores-container">

      <div class="score-card">
        <header class="score-card_header">
          <h3>Vehículos vencidos de alineación</h3>
        </header>
        <div class="score-card_body">
          <span class="score-number">{{vehiculos_sin_alineacion}}</span>
        </div>
      </div>

      <div class="score-card">
        <header class="score-card_header">
          <h3>Vehículos vencidos de inspección</h3>
        </header>
        <div class="score-card_body">
          <span class="score-number">{{vehiculos_sin_inspeccion}}</span>
        </div>
      </div>

      <div class="score-card">
        <header class="score-card_header">
          <h3>Vehículos vencidos de inflado</h3>
        </header>
        <div class="score-card_body">
          <span class="score-number">{{vehiculos_sin_inflado}}</span>
        </div>
      </div>

      <div class="score-card">
        <header class="score-card_header">
          <h3>Desdualizado</h3>
        </header>
        <div class="score-card_body">
          <span class="score-number">{{duales_impares}}</span>
        </div>
      </div>

      <div class="score-card">
        <header class="score-card_header">
          <h3>Total de vehículos</h3>
        </header>
        <div class="score-card_body">
          <span class="score-number">{{total_vehiculos}}</span>
        </div>
      </div>
      
    </section>

    <section class="table-container">
      <table class="resumen-table">
        <thead>
          <tr>
            <th>Ejes</th>
            <th>Baja presión</th>
            <th>Alta presión</th>
            <th>Baja profundidad</th>
            <th>Desgaste irregular</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dirección</td>
            <td class="format-number">{{direccion_baja_presion}}</td>
            <td class="format-number">{{direccion_alta_presion}}</td>
            <td class="format-number">{{direccion_baja_profundidad}}</td>
            <td class="format-number">{{direccion_desgaste_irregular}}</td>
          </tr>
          <tr>
            <td>Libre</td>
            <td class="format-number">{{libre_baja_presion}}</td>
            <td class="format-number">{{libre_alta_presion}}</td>
            <td class="format-number">{{libre_baja_profundidad}}</td>
            <td class="format-number">{{libre_desgaste_irregular}}</td>
          </tr>
          <tr>
            <td>Retráctil</td>
            <td class="format-number">{{retractil_baja_presion}}</td>
            <td class="format-number">{{retractil_alta_presion}}</td>
            <td class="format-number">{{retractil_baja_profundidad}}</td>
            <td class="format-number">{{retractil_desgaste_irregular}}</td>
          </tr>
          <tr>
            <td>Tracción</td>
            <td class="format-number">{{traccion_baja_presion}}</td>
            <td class="format-number">{{traccion_alta_presion}}</td>
            <td class="format-number">{{traccion_baja_profundidad}}</td>
            <td class="format-number">{{traccion_desgaste_irregular}}</td>
          </tr>
          <tr>
            <td>Arrastre</td>
            <td class="format-number">{{arrastre_baja_presion}}</td>
            <td class="format-number">{{arrastre_alta_presion}}</td>
            <td class="format-number">{{arrastre_baja_profundidad}}</td>
            <td class="format-number">{{arrastre_desgaste_irregular}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="format-number">{{total_alta_presion}}</td>
            <td class="format-number">{{total_baja_presion}}</td>
            <td class="format-number">{{total_baja_profundidad}}</td>
            <td class="format-number">{{total_desgaste_irregular}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>

  <script>
    
  // Formato numero
  const separator = (numb) => {
          let str = numb.toString().split(".");
          str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          return str.join(".");
      }
  
      const decimalConverter = () => {
          const numbers = document.querySelectorAll('.score-number');
  
          numbers.forEach( (number) => {
              number.textContent = separator(number.textContent);
          } );
      }
      decimalConverter();

  // Formato numero
  const separator_table = (numb) => {
          let str = numb.toString().split(".");
          str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          return str.join(".");
      }
  
      const decimalConverter_table = () => {
          const numbers = document.querySelectorAll('.format-number');
  
          numbers.forEach( (number) => {
              number.textContent = separator(number.textContent);
          } );
      }
      decimalConverter_table();

  </script>
{% endblock content %}

