{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/resumen.css' %}">
  <title>Servicios Abiertos - Taller</title>
{% endblock head %}

{% block content %}
  <main class="main-cont open-services">
    <header class="main-header">
      <h1>
        <span class="icon-calendar1"></span>
        Servicios abiertos
      </h1>
    </header>

    <section class="table-container">
      <table class="resumen-table">
        <thead>
          <tr>
            <th>ID servicio</th>
            <th>Número ecónomico</th>
            <th>Fecha de inicios</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123456</td>
            <td>123456</td>
            <td>11/22/33</td>
            <td>
              <button class="btn btn-primary">
                Ver orden
              </button>
            </td>
          </tr>
          <tr>
            <td>123456</td>
            <td>123456</td>
            <td>11/22/33</td>
            <td>
              <button class="btn btn-primary">
                Ver orden
              </button>
            </td>
          </tr>
          <tr>
            <td>123456</td>
            <td>123456</td>
            <td>11/22/33</td>
            <td>
              <button class="btn btn-primary">
                Ver orden
              </button>
            </td>
          </tr>
          <tr>
            <td>123456</td>
            <td>123456</td>
            <td>11/22/33</td>
            <td>
              <button class="btn btn-primary">
                Ver orden
              </button>
            </td>
          </tr>
          <tr>
            <td>123456</td>
            <td>123456</td>
            <td>11/22/33</td>
            <td>
              <button class="btn btn-primary">
                Ver orden
              </button>
            </td>
          </tr>
          <tr>
            <td>123456</td>
            <td>123456</td>
            <td>11/22/33</td>
            <td>
              <button class="btn btn-primary">
                Ver orden
              </button>
            </td>
          </tr>
          <tr>
            <td>123456</td>
            <td>123456</td>
            <td>11/22/33</td>
            <td>
              <button class="btn btn-primary">
                Ver orden
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
{% endblock content %}
