<html>
<head>
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/siteMenu.css' %}">
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	{% include 'nav.html' %}
	<div class="container">
		<div class="horizontal">
			<div class="top-nav">
				<h2 class="title">Dashboards</h2>
				<input class="search" type="search" name="" placeholder="Buscar...">
			</div>
			<div class="cont-horizontal">
				<a class="dashboards-link" href="https://drive.google.com/uc?id=1GD0kC__oUYfTNarsSBweN3JdBxOCb1kg&export=download">
					<div class="informe">
						<h2 class="dashboards">Informe de diesel</h2>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>