{% extends 'base.html' %}

{% block head %}

{%load static%}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/tallerDestino.css' %}"
/>
<meta charset="utf-8" />
<title>Stock destino</title>

{% endblock %}

{% block content %}
<div class="all-cont">
  <form class="taller-form" method='POST'>
    {% csrf_token %}
    <input type="hidden" name="inventario" value="{{stock}}">
    <input type="hidden" name="ids" value="{{ids_list}}">
    <input type="hidden" name="">
    <legend>
      <h2>STOCK DESTINO</h2>
    </legend>
    <hr />
    <label for="" class="form-label">
      FECHA
    </label>
    <span class="fecha">21-02-2022</span>
    <label for="" class="form-label">
      STOCK DE ORIGEN
    </label>
     <span class="almohadilla">{{stock}}</span>
    <label for="" class="form-label">
      STOCK DE DESTINO
    </label>
     <span class="almohadilla">
       <select name="inventario_destino" id="">
         <option value="" disabled selected>Elige un destino</option>
         {% for inventario in inventarios %}
          <option value="{{inventario}}">{{inventario}}</option>
         {% endfor %}
       </select>
     </span>
    <label for="" class="form-label">
      USUARIO
    </label>
    <span class="almohadilla">USER</span>
    <h3>LISTA DE # ECONÓMICOS</h3>

    {% for llanta in llantas %}

      <li class="list">{{llanta.numero_economico}}</li>

    {% endfor %}

    <nav class="nav-form">
      <button type="submit" class="btn btn-success">
        <span class="icon-checkmark"></span>
      </button>
      <a class="btn btn-danger" href="{% url 'dashboards:carritoStock' %}?inventario={{stock}}">
      
        <span class="icon-cross"></span>
      
    </a>
    </nav>
  </form>
</div>
{% endblock %}
