{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/vehicleList.css' %}">
  <title>Lista de Vehiculos</title>
{% endblock %}

{% block content %}


  <div class="main__container">
    <header class="head-cont">
      <h1 style="text-align: left;">Lista de Vehiculos</h1>
    
      <div class="drop-search">
        <form method='POST'>
          {% csrf_token %}
          {% if search != '' and search != None %}
            <input type="search" name="search" id="" value={{search}} class="drop-input">
          {% else %}
            <input type="search" name="search" id="" placeholder="Buscar vehiculo..." class="drop-input">
          {% endif %}
          
          <input type="hidden" name="buscar" value="buscar">
          <i class="bx bx-search"></i>
        </form>
      </div>
    
      <nav class="flex-row">
        {% include 'vehicleList/navegacion.html' %}
        <a href="{% url 'dashboards:resumen' %}" class="btn next">Resumen</a>

        <button class="btn btn-download" type="button" id="filter-btn">
          <span class="icon-filter"></span>
        </button>
      </nav>
    </header>

    <main class="main__content">

<!--       <nav class="nav__pages">


      </nav> -->

      <section class="vehicle__list">

        {% for vehiculo in llantas_acomodadas %}

          {% include 'vehicleList/vehicle__card.html' %}

        {% endfor %}

      </section>

    </main>
  </div>

  {% include 'vehicleList/filtros.html' %}

  <script>

    /* Activar funciones */

    document.addEventListener('DOMContentLoaded', (e) => {
      filter();
    })

    function filter() {
      const filterBtn = document.getElementById('filter-btn'),
            closeFilter = document.getElementById('close-filter'),
            filterBg = document.querySelector('.filter__bg');

      /* Activar filtro */
      filterBtn.addEventListener('click', () => filterBg.classList.toggle('active'));
      /* Desactivar filtro */
      closeFilter.addEventListener('click', () => filterBg.classList.remove('active'));
    }

  </script>

{% endblock %}
