{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/ordenes.css' %}">
  <title>Ordenes de llanta</title>
{% endblock head %}

{% block content %}

  <div class="main__container">

    <header>
      <h1>Ordenes pendientes</h1>
    </header>

    <div class="main__content">
      <div class="table__container">
        <h2>Pendiente</h2>

        <table class="orders__table">
          <thead>
            <tr>
              <th>Folio</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="pending-orders">
            <tr>
              <td colspan="3">
                <div class="icon-spinner2"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <div class="table__container">
        <h2>Ordenes hechas</h2>
        <table class="orders__table">
          <thead>
            <tr>
              <th>Folio</th>
              <th>Fecha</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="created-orders">
            <tr>
              <td colspan="3">
                <div class="icon-spinner2"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>

  </div>

  <template id="order-template">
    <tr>
      <td class="folio"></td>
      <td class="fecha"></td>
      <td>
        <a href="">Ver</a>
      </td>
    </tr>
  </template>

  <script src="{% static 'js/ordenes/index.js' %}" type="module"></script>

{% endblock content %}