<!-- Start input -->
<div class="form__group field">
  <input
    type="hidden"
    name="id"
    {% if compania.id %}value="{{compania.id}}"{% endif %}
  />
  <input
    class="form__field"
    type="text"
    placeholder="nombre"
    name="compania"
    {% if compania.compania %}value="{{compania.compania}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="nombre" class="form__label">
    Nombre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-inflado-1"
    name="periodo1_inflado"
    {% if compania.periodo1_inflado %}value="{{compania.periodo1_inflado}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="periodo-inflado-1" class="form__label">
    Periodo de inflado 1
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-inflado-2"
    name="periodo2_inflado"
    {% if compania.periodo2_inflado %}value="{{compania.periodo2_inflado}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="periodo-inflado-2" class="form__label">
    Periodo de inflado 2
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="presion-fuera-rango"
    name="objetivo"
    {% if compania.objetivo %}value="{{compania.objetivo}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="presion-fuera-rango" class="form__label">
    Presion fuera de rango
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-sin-vista-1"
    name="periodo1_inspeccion"
    autocomplete="off"
    {% if compania.periodo1_inspeccion %}value="{{compania.periodo1_inspeccion}}"{% endif %}
    required
  />
  <label for="periodo-sin-vista-1" class="form__label">
    Periodo sin vista 1
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-sin-vista-2"
    name="periodo2_inspeccion"
    {% if compania.periodo2_inspeccion %}value="{{compania.periodo2_inspeccion}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="periodo-sin-vista-2" class="form__label">
    Periodo sin vista 2
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-direccion"
    name="punto_retiro_eje_direccion"
    {% if compania.punto_retiro_eje_direccion %}value="{{compania.punto_retiro_eje_direccion}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="retiro-direccion" class="form__label">
    Punto de retiro direccion
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-traccion"
    name="punto_retiro_eje_traccion"
    {% if compania.punto_retiro_eje_traccion %}value="{{compania.punto_retiro_eje_traccion}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="retiro-traccion" class="form__label">
    Punto de retiro tracción
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-arrastre"
    name="punto_retiro_eje_arrastre"
    {% if compania.punto_retiro_eje_arrastre %}value="{{compania.punto_retiro_eje_arrastre}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="retiro-arrastre" class="form__label">
    Punto de retiro arrastre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-loco"
    name="punto_retiro_eje_loco"
    {% if compania.punto_retiro_eje_loco %}value="{{compania.punto_retiro_eje_loco}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="retiro-loco" class="form__label">
    Punto de retiro loco
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-retractil"
    name="punto_retiro_eje_retractil"
    {% if compania.punto_retiro_eje_retractil %}value="{{compania.punto_retiro_eje_retractil}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="retiro-retractil" class="form__label">
    Punto de retiro retractil
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="profundidad-descuate"
    name="mm_de_diferencia_entre_duales"
    {% if compania.mm_de_diferencia_entre_duales %}value="{{compania.mm_de_diferencia_entre_duales}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="profundidad-descuate" class="form__label">
    Profundidad de descuate
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="profundidad-descuate-irregular"
    name="mm_de_desgaste_irregular"
    {% if compania.mm_de_desgaste_irregular %}value="{{compania.mm_de_desgaste_irregular}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="profundidad-descuate-irregular" class="form__label">
    Profundidad de desgaste irregular
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-nuevo"
    name="valor_casco_nuevo"
    {% if compania.valor_casco_nuevo %}value="{{compania.valor_casco_nuevo}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="valor-casco-nuevo" class="form__label">
    Valor de casco nuevo
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-1r"
    name="valor_casco_1r"
    {% if compania.valor_casco_1r %}value="{{compania.valor_casco_1r}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="valor-casco-1r" class="form__label">
    Valor de casco 1R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-2r"
    name="valor_casco_2r"
    {% if compania.valor_casco_2r %}value="{{compania.valor_casco_2r}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="valor-casco-2r" class="form__label">
    Valor de casco 2R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-3r"
    name="valor_casco_3r"
    {% if compania.valor_casco_3r %}value="{{compania.valor_casco_3r}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="valor-casco-3r" class="form__label">
    Valor de casco 3R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-4r"
    name="valor_casco_4r"
    {% if compania.valor_casco_4r %}value="{{compania.valor_casco_4r}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="valor-casco-4r" class="form__label">
    Valor de casco 4R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-5r"
    name="valor_casco_5r"
    {% if compania.valor_casco_5r %}value="{{compania.valor_casco_5r}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="valor-casco-5r" class="form__label">
    Valor de casco 5R
  </label>
</div>
<!-- End input -->

<label for="presion" class="select-label">Unidades de presión</label>
<select name="unidades_presion" class="select-input" id="presion" required>
  <option value="">Seleccione una unidad de presión...</option>
  {% if compania.unidades_presion %}
  <option value="{{compania.unidades_presion}}" selected>{{compania.unidades_presion}}</option>
  {% endif %}
  <option value="psi">psi</option>
  <option value="bar">bar</option>
  <option value="mPa">mPa</option>
</select>

<label for="distancia" class="select-label">Unidades de distancia</label>
<select name="unidades_distancia" class="select-input" id="distancia" required>
  <option value="">Seleccione una unidad de distancia...</option>
  {% if compania.unidades_distancia %}
  <option value="{{compania.unidades_distancia}}" selected>{{compania.unidades_distancia}}</option>
  {% endif %}
  <option value="km">km</option>
  <option value="mi">mi</option>
</select>

<label for="profundidad" class="select-label">Unidades de profundidad</label>
<select name="unidades_profundidad" class="select-input" id="profundidad" required>
  <option value="">Seleccione una unidad de profundidad...</option>
  {% if compania.unidades_profundidad %}
  <option value="{{compania.unidades_profundidad}}" selected>{{compania.unidades_profundidad}}</option>
  {% endif %}
  <option value="mm">mm</option>
  <option value="32''">32"</option>
</select>

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="parametro-desgaste-sospechoso"
    name="mm_parametro_sospechoso"
    {% if compania.mm_parametro_sospechoso %}value="{{compania.mm_parametro_sospechoso}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="parametro-desgaste-sospechoso" class="form__label small-text">
    Parametros de desgaste sospechoso
  </label>
</div>
<!-- End input -->
