<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="nombre"
    name="nombre"
    autocomplete="off"
    required
  />
  <label for="nombre" class="form__label">
    Nombre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="compania"
    name="compania"
    list="compania"
    autocomplete="off"
    required
  />
  <label for="compania" class="form__label">
    Compañia
  </label>
  <datalist id="compania">
    {% for compania in companias %}
      <option value="{{compania}}">{{compania}}</option>
    {% endfor %}
  </datalist>
</div>
<!-- End input -->
