<!-- Start input -->
<div class="form__group field">
  <input
    type="hidden"
    name="id"
    {% if sucursal.id %}value="{{sucursal.id}}"{% endif %}
  />
  <input
    class="form__field"
    type="text"
    placeholder="nombre"
    name="nombre"
    {% if sucursal.nombre %}value="{{sucursal.nombre}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="nombre" class="form__label">
    Nombre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<!-- <div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="compania"
    name="compania"
    list="compania"
    autocomplete="off"
    required
  />
  <label for="compania" class="form__label">
    Compañia
  </label>
  <datalist id="compania">
    
  </datalist>
</div> -->
<!-- End input -->

<label for="compania" class="select-label">Compañia</label>
<select name="compania" id="compania" required class="select-input">
  <option value="">Seleccione una compañia...</option>
  {% if sucursal.compania %}<option value="{{sucursal.compania}}" selected></option>{% endif %}
  {% for compania in companias %}
    <option value="{{compania}}">{{compania}}</option>
  {% endfor %}
</select>

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="number"
    placeholder="rendimiento de nueva a 1r"
    name="rendimiento_de_nueva"
    {% if sucursal.rendimiento_de_nueva %}value="{{sucursal.rendimiento_de_nueva}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="rendimiento_de_nueva" class="form__label">
    Rendimiento de nueva a 1R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="number"
    placeholder="rendimiento de 1r a 2r"
    name="rendimiento_de_primera"
    {% if sucursal.rendimiento_de_primera %}value="{{sucursal.rendimiento_de_primera}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="rendimiento_de_primera" class="form__label">
    Rendimiento de 1R a 2R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="number"
    placeholder="rendimiento de 2r a 3r"
    name="rendimiento_de_segunda"
    {% if sucursal.rendimiento_de_segunda %}value="{{sucursal.rendimiento_de_segunda}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="rendimiento_de_segunda" class="form__label">
    Rendimiento de 2R a 3R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="number"
    placeholder="rendimiento de 3r a 4r"
    name="rendimiento_de_tercera"
    {% if sucursal.rendimiento_de_tercera %}value="{{sucursal.rendimiento_de_tercera}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="rendimiento_de_tercera" class="form__label">
    Rendimiento de 3R a 4R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="number"
    placeholder="rendimiento de 4r a 5r"
    name="rendimiento_de_cuarta"
    {% if sucursal.rendimiento_de_cuarta %}value="{{sucursal.rendimiento_de_cuarta}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="rendimiento_de_cuarta" class="form__label">
    Rendimiento de 4R a 5R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="number"
    placeholder="precio promedio de llanta direccion"
    name="precio_nueva_direccion"
    {% if sucursal.precio_nueva_direccion %}value="{{sucursal.precio_nueva_direccion}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="precio_nueva_direccion" class="form__label">
    Precio promedio de llanta direccion
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="number"
    placeholder="precio promedio de llanta nueva"
    name="precio_nueva"
    {% if sucursal.precio_nueva %}value="{{sucursal.precio_nueva}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="precio_nueva" class="form__label">
    precio promedio de llanta nueva
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="number"
    placeholder="precio promedio de llanta renovada"
    name="precio_renovada"
    {% if sucursal.precio_renovada %}value="{{sucursal.precio_renovada}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="precio_renovada" class="form__label">
    Precio promedio de llanta renovada
  </label>
</div>
<!-- End input -->

<nav class="flex-row">
  {% if sucursal.id %}
  <button class="btn btn-success">
    <span class="icon-checkmark"></span>
  </button>

  <a href="{% url 'dashboards:sucursalFormulario' %}" class="btn btn-danger">
    <span class="icon-cross"></span>
  </a>

  {% else %}
  <button class="btn btn-success">
    <span class="icon-plus6"></span>
  </button>
  {% endif %}
</nav>