<!-- Start input -->
<div class="form__group field">
  <input
    type="hidden"
    name="id"
    {% if taller.id %}value="{{taller.id}}"{% endif %}
  />
  <input
    class="form__field"
    type="text"
    placeholder="nombre"
    name="nombre"
    {% if taller.nombre %}value="{{taller.nombre}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="nombre" class="form__label">
    Nombre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<!-- <div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="compania"
    name="compania"
    list="compania"
    {% if taller.compania %}value="{{taller.compania}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="compania" class="form__label">
    Compañia
  </label>
  <datalist id="compania">
    {% for compania in companias %}
      <option value="{{compania}}">{{compania}}</option>
    {% endfor %}
  </datalist>
</div> -->
<!-- End input -->

<label for="compania" class="select-label">Compañia</label>
<select name="compania" id="compania" required class="select-input">
  <option value="">Seleccione una compañia...</option>
  {% if taller.compania %}<option value="{{taller.compania}}" selected>{{taller.compania}}</option>{% endif %}
  {% for compania in companias %}
    <option value="{{compania}}">{{compania}}</option>
  {% endfor %}
</select>

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="codigo"
    name="codigo"
    {% if taller.codigo %}value="{{taller.codigo}}"{% endif %}
    autocomplete="off"
    required
  />
  <label for="codigo" class="form__label">
    Código
  </label>
</div>
<!-- End input -->