<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="nombre"
    name="compania"
    autocomplete="off"
    required
  />
  <label for="nombre" class="form__label">
    Nombre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-inflado-1"
    name="periodo1_inflado"
    autocomplete="off"
    required
  />
  <label for="periodo-inflado-1" class="form__label">
    Periodo de inflado 1
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-inflado-2"
    name="periodo2_inflado"
    autocomplete="off"
    required
  />
  <label for="periodo-inflado-2" class="form__label">
    Periodo de inflado 2
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="presion-fuera-rango"
    name="objetivo"
    autocomplete="off"
    required
  />
  <label for="presion-fuera-rango" class="form__label">
    Presion fuera de rango
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-sin-vista-1"
    name="periodo1_inspeccion"
    autocomplete="off"
    required
  />
  <label for="periodo-sin-vista-1" class="form__label">
    Periodo sin vista 1
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-sin-vista-2"
    name="periodo2_inspeccion"
    autocomplete="off"
    required
  />
  <label for="periodo-sin-vista-2" class="form__label">
    Periodo sin vista 2
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-direccion"
    name="punto_retiro_eje_direccion"
    autocomplete="off"
    required
  />
  <label for="retiro-direccion" class="form__label">
    Punto de retiro direccion
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-traccion"
    name="punto_retiro_eje_traccion"
    autocomplete="off"
    required
  />
  <label for="retiro-traccion" class="form__label">
    Punto de retiro tracción
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-arrastre"
    name="punto_retiro_eje_arrastre"
    autocomplete="off"
    required
  />
  <label for="retiro-arrastre" class="form__label">
    Punto de retiro arrastre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-loco"
    name="punto_retiro_eje_loco"
    autocomplete="off"
    required
  />
  <label for="retiro-loco" class="form__label">
    Punto de retiro loco
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-retractil"
    name="punto_retiro_eje_retractil"
    autocomplete="off"
    required
  />
  <label for="retiro-retractil" class="form__label">
    Punto de retiro retractil
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="profundidad-descuate"
    name="mm_de_diferencia_entre_duales"
    autocomplete="off"
    required
  />
  <label for="profundidad-descuate" class="form__label">
    Profundidad de descuate
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="profundidad-descuate-irregular"
    name="mm_de_desgaste_irregular"
    autocomplete="off"
    required
  />
  <label for="profundidad-descuate-irregular" class="form__label">
    Profundidad de desgaste irregular
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-nuevo"
    name="valor_casco_nuevo"
    autocomplete="off"
    required
  />
  <label for="valor-casco-nuevo" class="form__label">
    Valor de casco nuevo
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-1r"
    name="valor_casco_1r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-1r" class="form__label">
    Valor de casco 1R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-2r"
    name="valor_casco_2r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-2r" class="form__label">
    Valor de casco 2R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-3r"
    name="valor_casco_3r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-3r" class="form__label">
    Valor de casco 3R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-4r"
    name="valor_casco_4r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-4r" class="form__label">
    Valor de casco 4R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-5r"
    name="valor_casco_5r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-5r" class="form__label">
    Valor de casco 5R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="unidades-presion"
    name="unidades_presion"
    list="unidades_presion"
    autocomplete="off"
    required
  />
  <label for="unidades-presion" class="form__label">
    Unidades de presión
  </label>
  <datalist id="unidades_presion">
    <option value="psi">psi</option>
    <option value="bar">bar</option>
    <option value="mPa">mPa</option>
  </datalist>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="unidades-distancia"
    name="unidades_distancia"
    list="unidades_distancia"
    autocomplete="off"
    required
  />
  <label for="unidades-distancia" class="form__label">
    Unidades de distancia
  </label>
  <datalist id="unidades_distancia">
    <option value="km">km</option>
    <option value="mi">mi</option>
  </datalist>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="unidades-profundidad"
    name="unidades_profundidad"
    list="unidades_profundidad"
    autocomplete="off"
    required
  />
  <label for="unidades-profundidad" class="form__label">
    Unidades de profundidad
  </label>
  <datalist id="unidades_profundidad">
    <option value="mm">mm</option>
    <option value="32''">32''</option>
  </datalist>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="parametro-desgaste-sospechoso"
    name="mm_parametro_sospechoso"
    autocomplete="off"
    required
  />
  <label for="parametro-desgaste-sospechoso" class="form__label small-text">
    Parametros de desgaste sospechoso
  </label>
</div>
<!-- End input -->
